<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://w3.org/TR/html4/transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body style="font-family: Tahoma, Arial, Verdana, Helvetica; padding: 0; margin: 0; font-size: 16px;color: #000;">
<table cellpadding="0" cellspacing="0" width="620" style="margin: 50px auto 60px;">
    <tr>
        <td align="center">
            <a href="http://www.mestro.pl"><img src="http://www.mestro.pl/images/gfx/mail_opinie_logo.png"
                                                alt=""/></a><br/>
            <br/>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table style=" text-align: center;" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td colspan="2" align="center" style="color:dimgray;font-size: 20px;">
                        <b>
                            Dziękujemy za zakupy w naszej księgarni<br/></b>
                        <br/>
                        Możesz nas ocenić w serwisach</br> okazje.info.pl lub Ceneo.pl<br/>
                    </td>
                </tr>
                <tr cellpadding="0" cellspacing="0" style="border: 0;">
                    <td cellpadding="0" cellspacing="0" style="border: 0;">
                        <a href="http://www.okazje.info.pl/sklep-internetowy/mestro-pl-1/"><img style="width:100%"
                                                                                                src="http://www.mestro.pl/images/gfx/mail_opinie_okazje.png"
                                                                                                align="right"/></a>
                    </td>
                    <td cellpadding="0" cellspacing="0" style="border: 0;">
                        <a href="http://www.ceneo.pl/sklepy/mestro.pl-s20202#tab=reviews"><img style="width:100%"
                                                                                               src="http://www.mestro.pl/images/gfx/mail_opinie_ceneo.png"
                                                                                               align="left"/></a>
                    </td>
                </tr>


            </table>
        </td>
    </tr>

    <tr>
        <td colspan="2" align="center" style="color:dimgray; font-size: 16px;">
            </br>

            <b>Dzięki Twojej ocenie</b> stajemy się jeszcze lepszą księgarnią.</b>
            </br></br>

        </td>

    </tr>
    <tr>
        <td align="center">
            <img src="http://www.mestro.pl/images/gfx/mail_opinie_wysylka.png"/>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center" style="font-size: 11px;">
            <p style="color:dimgray; line-height:15px">
                e-mail: <b><a href="mailto:kontakt@mestro.pl" style="text-decoration: none; color:dimgray">kontakt@mestro.pl</a></b>
                <br/>
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center" style="font-size: 10px;color: #474747;padding: 25px 0 0;">
            Ten e-mail został wysłany automatycznie. Proszę nie odpowiadać na tę wiadomość.<br/>W razie jakichkolwiek
            pytań proszę odwiedzić adres <a style="color: #104586;text-decoration: underline"
                                            href="http://www.mestro.pl/pomoc">http://www.mestro.pl/pomoc</a> <br/>lub
            skontaktować się z naszym Biurem Obsługi Klienta.
        </td>
    </tr>
</table>
</body>
</html>