body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #484a4b;
	line-height: 150%;
	margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	text-indent: 0;
	color: #015727;
}
h1 {
	padding: 0px;
	color: #83a323;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
}
h2 {
	padding: 0;
	margin: 0;
	color: #83a323;
	font-weight: bold;
	font-size: 16px;
}

h3 {
	font-size: 12px;
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #484a4b;
}

p {
	margin: 0;
	padding: 0 0 20px 0;
}

a {
	text-decoration: none;
	color: #3d7d9c;
	line-height: 100%;
	padding: 1px 0 2px 0;
}
a:hover {
	background: none;
}


/* img */
img {
	border: none;
}
ul {
	margin: 0;
	padding: 0 0 5px 22px;
	list-style: none;
}
ol {
	padding: 0 0 5px 10px;
	margin: 0;
}
ul li {
	padding: 0 0 0 13px;
	background: url("/images/gfx/li_czerwone.gif") no-repeat 0 6px;	
}

ul li p, ol li p {
	margin: 0;
	padding: 0;
}
ol {
	margin-top: 0;
	margin-bottom: 10px;
}

ol li, ul li ol li {
	margin-left: 30px;
	background: none;
}

table {
	margin-left: 1px;
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
	width: 99%;
	clear: both;
}
table td {
	border: 1px solid #421e10;
	padding: 5px;
	margin: 0px;
	text-align: left;
	color: #b84d15;
}
table th {
	border: 1px solid #421e10;
	padding: 5px;
	margin: 0px;
	text-align: left;
	background-color: #2c1309;
	color: #fff;
	font-weight: bold;
}


table.editorTable, table.smallPadding {
	background-color: #FFFFFA;
	border: 1px solid #D5CD6C;
	border-collapse: collapse;
}
table.editorTable td, table.smallPadding td {
	padding: 4px;
	vertical-align: top;
	border: 1px solid #D5CD6C;
}
table.smallPadding td {
	padding: 1px 0;
}
.imgOtaczanieLewe {
	float: left;
	margin: 2px 8px 3px 0;
}
.imgOtaczaniePrawe {
	float: right;
	margin: 2px 0 3px 8px;
}