body {
	font-family: Tahoma;
	padding: 16px 18px 4px;
	line-height: 20px;
	font-size: 12px;
	width: 754px;
}
/*body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #484a4b;
	line-height: 150%;
	margin: 0px;
}*/

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	text-indent: 0;
	color: #015727;
}
h1 {
	padding: 0px;
	color: #83a323;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
}
h2 {
	padding: 0;
	margin: 0;
	color: #83a323;
	font-weight: bold;
	font-size: 16px;
}

h3 {
	font-size: 12px;
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #484a4b;
}

p {
	margin: 0;
	padding: 0 0 20px 0;
}

a {
	text-decoration: none;
	color: #3d7d9c;
	line-height: 100%;
	padding: 1px 0 2px 0;
}
a:hover {
	background: none;
}


/* img */
img {
	border: none;
}

h3 {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	padding: 6px 8px 6px 0;
	font-family: Arial, Tahoma, Verdana, Helvetica;
}
p {
	padding: 0 0 8px 0;
}
a {
	color: #353535;
}
ul {
	list-style: none;
	padding: 0 0 0 23px;
}
ol {
	padding: 0 0 0 18px;
	margin: 0;
}
ol li {
	padding: 0 0 8px 4px;
}
ul li {
	padding: 0 0 8px 13px;
	background: url("/images/gfx/li_czerwone.gif") no-repeat 0 8px;
}
li ul {
	margin: 6px 0 0 8px;
	padding: 0;
}
li li:last-child {
	padding-bottom: 0;
}
ul li p, ol li p {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #d5d4d4;
}
table th {
	border: 1px solid #a10000;
	background: #ba0000;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 0 13px 0;
	text-shadow: 0px -1px 0px #7e0000;
	background: url("/images/gfx/th.png") repeat-x 0 0;
}
table td {
	border: 1px solid #d5d4d4;
	padding: 12px 8px 14px 8px;
}
.szare_tlo {
	background: #f1f1f1;
}
.czerwony_tekst {
	color: #d80000;
}
.zdjecie_do_lewej {
	float: left;
	margin: 0 10px 10px 0;
	display: inline
}
.zdjecie_do_prawej {
	float: right;
	margin: 0 0 10px 10px;
}

.zdjecie_na_calosc {
	width: 100%;
}


/* old
table {
	margin-left: 1px;
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
	clear: both;
}
table td {
	border: 1px solid #421e10;
	padding: 5px;
	margin: 0px;
	text-align: left;
	color: #b84d15;
}
table th {
	border: 1px solid #421e10;
	padding: 5px;
	margin: 0px;
	text-align: left;
	background-color: #2c1309;
	color: #fff;
	font-weight: bold;
}

table.editorTable, table.smallPadding {
	background-color: #FFFFFA;
	border: 1px solid #D5CD6C;
	border-collapse: collapse;
}
table.editorTable td, table.smallPadding td {
	padding: 4px;
	vertical-align: top;
	border: 1px solid #D5CD6C;
}
table.smallPadding td {
	padding: 1px 0;
}
.imgOtaczanieLewe {
	float: left;
	margin: 2px 8px 3px 0;
}
.imgOtaczaniePrawe {
	float: right;
	margin: 2px 0 3px 8px;
}*/

/*audiobooki - karta produktu (wyciagane przez description)*/
.audiobook h2 {
	font-size: 12px;
	margin: 0 0 15px 0;
	color: #000;
}
.audiobook span.info {
	font-size: 12px;
}
.audiobook span.info2 {
	color: #d12727;
	font-weight: bold;
}
.audiobook span.sep {
	color: #e6e6e6;
}
.audiobook ul {
	margin: 15px 0 20px 0;
	padding: 0;
}
.audiobook ul li {
	background: url("/images/gfx/audio-ul.gif") no-repeat 0 1px;
	padding: 0 0 0 40px;
	margin: 0;
}
.audiobook ul li strong {
	color: #000;
}
.audiobook ul li ul {
	margin: 10px 0 12px 0;
	padding: 0;
}
.audiobook ul li ul li {
	background: url("/images/gfx/li_czerwone.gif") no-repeat 0 7px;
	margin: 0;
	padding: 0 0 0 14px;
}