#qibox_results #result-ui {
    z-index: 999999999999 !important;
    background: #fff;
    position: relative;
    color: black;
    width: 420px;
    margin-left: 20px;
    overflow-y: auto;
    max-height:400px;
}

#qibox_results #result-ui {
    list-style-type: none;
    color: #bbb;
    box-shadow: 1px 4px 14px;
}

#qibox_results #result-ui li a {
    padding: 11px;
    color: black;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    display: block;
}

#qibox_results #result-ui .result-category
{
    padding: 11px;
    background-color: #eee;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    display: block;
    font-size: 13px;
    color: #c31111;
    font-weight: bold;
}

#qibox_results .book-search-result
{
    font-size: 13px;
    display: block;
    margin-bottom: -9px;
}

#qibox_results .search-element
{
    min-height: 66px;
}

#qibox_results .search-element-img
{
    position: absolute;
}

#qibox_results .search-element-cnt-container
{
    padding-left: 55px;
    display: inline-block;
}