body {
	font-family: Tahoma, Arial, Verdana, Helvetica;
	padding: 0;
	margin: 0;
	font-size: 11px;
	background: #fff url("/images/gfx/tlo_pasek.gif") repeat-x;
}
h1,h2,h3,h4,h5,h6,p,form,fieldset,img,ul {
	margin: 0;
	padding: 0;
	border: 0;
}
.input,input,select,textarea,.submit {
	font-family: Tahoma, Arial, Verdana, Helvetica;
	font-size: 12px;
}
a {text-decoration: none;cursor: pointer;}
a:hover {text-decoration: underline;}
.clear {clear: both;height: 0px;font-size: 0px;line-height: 0px;}
.Left {text-align: left !important;}
.Center {text-align: center !important;}
.Right {text-align:right !important;}
.left {float: left;}
.right {float: right;}
.msgBig .message, .msgBig .error {
	width: 800px !important;
}
.message {
	margin: 10px 68px 14px;
	border: 1px solid #4b8620;
	padding: 25px;
	color: #4b8620;
	font-weight: bold;
	text-align: center;
	font-size: 12px;
	line-height: 18px;
	width: 604px;
}
.powiadomienie_t2 {
	text-align: left;
}
.powiadomienie_t2 ul {
	list-style: none;
	margin-bottom: 10px;
}
.powiadomienie_t2 ul li {
	background: url("/images/gfx/message_kropka.gif") no-repeat 0 6px;
	padding: 0 0 0 15px;
	margin: 0 0 0 20px;
}
.message a {
	color: #4b8620;
	text-decoration: underline;
}
.error {
	margin: 10px 68px 14px;
	border: 1px solid #c50e09;
	padding: 25px;
	color: #c30500;
	font-weight: bold;
	text-align: center;
	font-size: 12px;
	line-height: 18px;
	width: 604px;
}
.error a {
	color: #c30500;
	text-decoration: underline;
}
.imgOtaczanieLewe {
	float: left;
	margin: 2px 8px 3px 0;
}
.imgOtaczaniePrawe {
	float: right;
	margin: 2px 0 3px 8px;
}
.orange {
	color: #e99a02;
}

/* glowne */
#kontener {
	width: 1002px;
	margin: 0 auto;
}
.kolLewa {
	float: left;
	width: 790px;	
}
.kolPrawa {
	float: right;
	width: 205px;
}
.kolLewaDuza {
	float: left;
	width: 1002px;	
	background: url("/images/gfx/koszyk-gora.gif") no-repeat 0 0;
}

/* gora strony */
/*.poziomy2 {
	float: left;
	width: 1002px;
	padding: 0 0 16px 0;
}*/
.poziomy2 {
	float: left;
	width: 1002px;
	padding: 0 0 16px 0;
}
.poziomy {
	float: left;
	width: 1002px;
	padding: 0 0 13px 0;
}
#logo {
	float: left;
	margin: 26px 0 8px 0;
}
#logo a {
	width: 238px;
	height: 91px;
	background: url("/images/gfx/logo.gif") no-repeat;
	display: block;
}
#linkiRejestracja {
	float: right;
	text-align: right;
	padding: 18px 12px 0 0;
	/*text-transform: lowercase;*/
}
#linkiRejestracja a {
	color: #000;
}
#linkiSchowek {
	float: right;
	text-align: right;
	padding: 18px 12px 0 0;
}
#linkiSchowek a {
	color: #000;
	font-weight: bold;
	font-size: 12px;
}
#linkiSchowek .schowek {
	padding: 0 0 0 21px;
	margin: 0 0 0 14px;
	background: url("/images/gfx/ikona_schowek.gif") no-repeat 0 2px;	
}
#linkiSchowek .koszyk {
	padding: 0 0 0 21px;
	background: url("/images/gfx/ikona_koszyk.gif") no-repeat 0 0;
}

/* wyszukiwarka */
#wyszukiwarka {
	float: right;
	width: 557px;
	height: 73px;
	margin-top: 16px;
	background: url("/images/gfx/wyszukiwarka.gif") no-repeat;
}

#wyszukiwarkaSrodek {
	float: right;
	width: 472px;
}

#searchBoxForm {
	text-align: center;
	color: #fff;
}
#searchBoxForm input, #searchBoxForm select {
	border: 0;
	margin: 0;
}
#searchBoxForm .qibox {
	margin-top: 15px;
	padding: 4px;
	width: 204px;
	height: 23px;
	float: left;
	background: url("/images/gfx/wyszukiwarka_pole_tlo.gif") no-repeat;
}
#searchBoxForm #qibox {
	width: 192px;
	font-size: 11px;
}
#searchBoxForm #aval {
	float: left;
	margin: 0;
	padding: 0;
	height: 12px;
}
#searchBoxForm label {
	margin: 0 0 0 6px;	
	float: left;
}
#searchBoxForm .top_cat {
	margin-top: 15px;
	float: left;
	width: 162px;
	height: 23px;
	background: url("/images/gfx/wyszukiwarka_pole_tlo2.gif") no-repeat;
}
#searchBoxForm #top_cat {
	width: 156px;
	margin-top: 3px;
	font-size: 11px;
}
#searchBoxForm #szukaj {
	margin: 14px 0 0 4px;
	float: left;	
}
#searchBoxForm a {
	color: #fff;
	float: right;
	margin: 0 16px 0 30px;
}
#searchBoxForm #tresc {
	width: 311px;
	padding: 4px 5px;
	margin: 0 0 4px 0;
}
#wyszukiwarkaInfo {
	color: #313030;
	padding: 15px;
}
#wyszukiwarkaInfoGwiazdka {
	text-align: right;
	float: right; 
	width: 337px;
	background: #b80301 url("/images/gfx/info_szukaj_center.gif") repeat-x 0 5px;
	margin-bottom: 15px;
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana, Helvetica;
}
#wyszukiwarkaInfoGwiazdkaTop {
	float: left;
	width: 337px;
	height: 5px;
	overflow: hidden;
	background: url("/images/gfx/info_szukaj_top.gif") no-repeat;
}
#wyszukiwarkaInfoGwiazdkaCenter {
	float: left;
	width: 335px;
	border-right: 1px solid #e2e2e2;
	border-left: 1px solid #e2e2e2;
	background: url("/images/gfx/info_szukaj_znaczek.gif") no-repeat 302px 8px;
	color: #fff;
	min-height: 31px;
}
#wyszukiwarkaInfoGwiazdkaText {
	padding: 3px 58px 5px 5px;
	background: url("/images/gfx/info_szukaj_separator.gif") repeat-y 289px;
}
#wyszukiwarkaInfoGwiazdkaBottom {
	float: left;
	width: 337px;
	height: 5px;
	overflow: hidden;
	background: url("/images/gfx/info_szukaj_bottom.gif") no-repeat;
}
#wyszukiwarkaInfoFraza span {
	font-weight: bold;
}
#wyszukiwarkaInfoPozycje {
	font-weight: bold;
	padding: 5px 0 0 0;	
}
.powrotX {
	width: 124px;
	background: url("/images/gfx/przycisk_wroc.gif") no-repeat;
	color: #fff !important;
	padding: 3px 0 5px;
	text-align: center;
	display: block;
	text-decoration: none !important;
}

/* box glowny */
.boxGlowny h2 {
	color: #434343 !important;
	font-size: 15px !important;
	font-weight: bold !important;
	padding: 8px 6px 0 6px !important;	
	font-family: Arial, Tahoma, Verdana, Helvetica !important;
}
.boxGlowny {
	float: left;
	width: 790px;
	margin: 0 0 21px 0;
	position: relative;
}
.boxGlownyTytul {
	float: left;
	height: 34px;
}
.boxGlownyTytulLewo {
	float: left;
	width: 6px;
	height: 34px;
	background: url("/images/gfx/box_tytul_lewo.gif") no-repeat;
}
.boxGlownyTytulSrodek {
	float: left;
	width: 778px;
	height: 34px;
	background: url("/images/gfx/box_tytul_srodek.gif") repeat-x 0;
}
.boxGlownyTytulPrawo {
	float: right;
	width: 6px;
	height: 34px;
	background: url("/images/gfx/box_tytul_prawo.gif") no-repeat;
}
.boxGlownySrodek {
	float: left;
	width: 788px !important;
	border-left: 1px solid #e2e2e2;
	border-right: 1px solid #e2e2e2;
	background: url("/images/gfx/box_tlo_biale.gif") repeat-x;
}
.boxGlownySrodek  h2 {
	color: #000 !important;
	font-size: 13px !important;
	padding-left: 15px !important;
}
.boxGlownyDol {
	float: left;
	overflow: hidden;
}
.boxGlownyDolLewo {
	float: left;
	width: 6px;
	height: 6px;
	background: url("/images/gfx/box_dol_lewo.gif") no-repeat;
	overflow: hidden;
}
.boxGlownyDolSrodek {
	float: left;
	width: 778px;
	height: 6px;
	background: url("/images/gfx/box_dol_srodek.gif") repeat-x;
	overflow: hidden;
}
.boxGlownyDolPrawo {
	float: right;
	width: 6px;
	height: 6px;
	background: url("/images/gfx/box_dol_prawo.gif") no-repeat;
	overflow: hidden;
}
/*.wiecejNawig {
	float: left;
	top: 32px;
	left: 0;
	width: 788px;
}*/
.wiecejNawigWiecej {
	position: absolute;
	top: 64px;
	width: 20px;
	height: 345px;
	right: 1px;
	background: url("/images/gfx/przycisk_nastepne.gif") no-repeat;	
}
.wiecejNawigWiecej a {
	width: 20px;
	height: 345px;
	display: block;
}
body>.wiecejNawigWiecej {position: fixed; } 
.wiecejNawigPowrot {
	position: absolute;
	top: 64px;
	left: 1px;
	width: 20px;
	height: 345px;
	background: url("/images/gfx/przycisk_poprzednie.gif") no-repeat;
}
.wiecejNawigPowrot a {
	width: 20px;
	height: 345px;
	display: block;
}
.wiecej {
	position: absolute;
	/*width: 64px;*/
	width: 78px;
	height: 15px;
	bottom: 0 !important;
	right: 0;
	z-index: 99;
	background: url("/images/gfx/wiecej_tlo.gif") repeat-x;
	cursor: pointer;
}
.wiecejLewo {
	float: left;
	width: 4px;
	height: 15px;
	background: url("/images/gfx/wiecej_lewo.gif") no-repeat;	
}
.wiecejPrawo {
	float: right;
	width: 15px;
	height: 15px;
	background: url("/images/gfx/wiecej_prawo.gif") no-repeat;	
}
.wiecej a {
	color: #fff;
	padding: 0 0 0 7px;
	float: left;
}
.wiecej a:HOVER {
	text-decoration: none;
}
.powrot {
	position: absolute;
	width: 64px;
	height: 15px;
	bottom: -3px;
	left: -1px;
	background: url("/images/gfx/wiecej_tlo.gif") repeat-x;
	cursor: pointer;
	z-index: 2;
}
.powrotLewo {
	float: left;
	width: 15px;
	height: 15px;
	background: url("/images/gfx/wiecejL_prawo.gif") no-repeat;	
}
.powrotPrawo {
	float: right;
	width: 4px;
	height: 15px;
	background: url("/images/gfx/wiecejL_lewo.gif") no-repeat;	
}
.powrot a {
	color: #fff;
	padding: 0 0 0 7px;
	float: left;
}
.powrot a:HOVER {
	text-decoration: none;
}

/* box tagi */
.boxTagi {}
.boxTagiGora {
	float: left;
	width: 790px;
	height: 5px;
	overflow: hidden;
	background: url("/images/gfx/box_tagi_gora.gif") no-repeat;
}
.boxTagiTytul h2 {
	color: #fff; 
	padding: 6px 0 10px !important;
	border-bottom: 1px solid #dedede;
	margin: 0 12px;
}
.boxTagi .boxGlownySrodek {
	background: none;
}
.boxTagiLinki {
	float: left;
	padding: 16px 0 17px;
	margin: 0 12px 0;
	display: inline;
	line-height: 18px;
}
.boxTagiLinki a {
	color: #104586;
	margin: 0 4px;
}
.boxTagiLinki a.size_1 {font-size: 12px;}
.boxTagiLinki a.size_2 {font-size: 13px;}
.boxTagiLinki a.size_3 {font-size: 14px;}
.boxTagiLinki a.size_4 {font-size: 15px;}
.boxTagiLinki a.size_5 {font-size: 16px;}
.boxTagiLinki a.size_6 {font-size: 17px;}

/* produkt */
.produkt {
	float: left;
	width: 236px;
	height: 180px;
	margin: 14px 12px;
	display: inline;
}
.produktZdjecia {
	float: left;
	width: 88px;
	height: 116px;
}
.produktZdjecia img {
	border: 1px solid #dad4ca;
	padding: 1px;
}
.produktTresc {
	float: left;
	width: 148px;
	height: 116px;
	padding-bottom: 15px;
}
.produktTytul {
	font-weight: bold;
	padding: 0 0 11px 0;
	font-size: 12px;
}
.produktTytul a {
	color: #313030;
}
.produktAutor {
	padding: 0;
}
.produktPrzyciski {
	float: left;
	width: 88px;
}
.produktPrzyciski span {
	float: left;
	width: 73px;
	text-align: center;
	color: #d12727;
	font-weight: bold;
}
.przyciskSchowek {
	width: 73px;
	height: 21px;	
	background: url("/images/gfx/przycisk_schowek.png") no-repeat;
	display: block;
	margin: 0 0 6px 0; 
}
.przyciskKoszyk {
	width: 73px;
	height: 21px;
	background: url("/images/gfx/przycisk_koszyk.png") no-repeat;
	display: block;
}
.produktCeny {
	line-height: 17px;
	float: left;
	width: 148px;
}
.produktCeny span {
	font-size: 12px;
	text-decoration: line-through;
}
.produktCeny strong span {
	color: #d12727;
	font-size: 14px;
	text-decoration: none;
}
.produkt .produktListaOpcja {
	padding-top: 0;
	margin-top: -2px;
}

/* box boczny */
.boxBoczny h2 {
	color: #f4f4f4;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 5px 0 5px;		
}
.boxBoczny {
	float: left;
	width: 205px;
	margin: 0 0 12px 0;
	position: relative;
}
.boxBocznyTytul {
	float: left;
	height: 24px;
}
.boxBocznyTytulLewo {
	float: left;
	width: 5px;
	height: 24px;
	background: url("/images/gfx/box_boczny_tytul_lewo.gif") no-repeat;
}
.boxBocznyTytulSrodek {
	float: left;
	width: 195px;
	height: 24px;
	background: url("/images/gfx/box_boczny_tytul_srodek.gif") repeat-x;
}
.boxBocznyTytulPrawo {
	float: right;
	width: 5px;
	height: 24px;
	background: url("/images/gfx/box_boczny_tytul_prawo.gif") no-repeat;
}
.boxBocznySrodek {
	float: left;
	width: 203px;
	border-left: 1px solid #e2e2e2;
	border-right: 1px solid #e2e2e2;
}
.boxBoczny .boxGlownyDol {
	width: 205px;	
}
.boxBoczny .boxGlownyDolSrodek {
	width: 193px;
}

/* produkt boczny */
.produktBoczny {
	float: left;
	width: 185px;
	padding: 9px 9px 27px;
}
.produktBocznyTresc {
	float: left;
	width: 124px;	
}
.produktBocznyTytul {
	font-weight: bold;
	padding: 0 0 2px 0;
}
.produktBocznyTytul a {
	color: #313030;	
}
.produktBocznyZdjecia {
	float: right;
	width: 58px;
	text-align: right;
}
.produktBocznyZdjeciaL {
	float: left;
	width: 58px;
	text-align: left;
}
.produktBocznyZdjecia img {
	border: 1px solid #dad4ca;
	padding: 1px;
	width: 42px;
}

/* produkt lista */
.produktLista {
	float: left;
	width: 771px;
	padding: 14px 19px 14px 0;
	line-height: 15px;
	color: #474747;
}
.produktLista .left {
	float: left;
	width: 460px;
}
.produktLista .right {
	text-align: right;
	width: 200px;
}
.produktListaZdjecie {
	width: 106px;
	float: left;
	text-align: center;
	overflow: hidden;
}
.produktListaZdjecie img {
	padding: 1px;
	border: 1px solid #dad4ca;
}
.produktListaTytul {
	padding: 0 0 2px 0;
	color: #000;
	font-style: oblique;
}
.produktListaTytul a {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.produktLista span {
	font-weight: bold;
	color: #000;
}
.produktLista span a {
	font-weight: normal;
	color: #104586;
}
.produktListaCzas {
	padding: 0 0 12px 0;
}
.produktListaCzas span {
	
}
.produktListaCeny {
	padding: 0 0 12px 0;
	line-height: 17px;
	float: right;
	width: 200px;
}
.produktListaCeny span {
	font-size: 12px;
	text-decoration: line-through;
	font-weight: normal;
	color: #474747;
}
.produktListaCeny strong {
	font-weight: bold;
	font-size: 13px;
}
.produktListaCeny strong span {
	color: #d12727;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	font-size: 17px;
}
.produktListaPrzyciski {
	width: 190px;
	height: 21px;
	text-align: center;
	float: right;
	width: 200px;
}
.produktListaPrzyciski a {
	float: right;
	margin: 0 0 0 7px;
}
.produktListaPrzyciski span {
	color: #c30500;
	padding: 2px 0 0 4px;
	float: right;
	width: 76px;
}
.produktListaSeparator {
	float: left;
	width: 646px;
	height: 1px;
	overflow: hidden;
	background: #f7f7f7;
	margin: 0 72px;
	display: inline;
}
.produktListaOpcja {
	float: left;
	padding: 5px 0 6px;	
	float: left;	
}
.produktListaOpcjaBestseller {
	float: left;
	width: 65px;
	height: 10px;
	margin: 0 4px 0 0;
	background: url("/images/gfx/przycisk_bestseller.png") no-repeat;
}
.produktListaOpcjaNews {
	float: left;
	width: 53px;
	height: 10px;
	background: url("/images/gfx/przycisk_nowosci.png") no-repeat;
}
.produktListaOpcjaSeparator {
	float: left;
	width: 5px;
	height: 5px;
	margin: 8px 4px 0 0;	
	background: url("/images/gfx/przycisk_przecinek.gif") no-repeat;
	overflow: hidden;
}

/* produkt wlasciwy */
.produktWlasciwy {
	padding: 24px 0 0 0;
	background: url("/images/gfx/produkt_tlo.gif") no-repeat;
}
.produktWlasciwyZdjecie {
	width: 194px;
	float: left;
	text-align: center;
	padding: 5px 0 15px 0;
}
.produktWlasciwyZdjecie img {
	padding: 2px;
	border: 1px solid #e2e2e2;
}
.produktWlasciwyLogo img {
	border: 0;
}
.produktWlasciwyTytul {
	width: 566px;
	float: left;
	margin: 0 0 12px 0;
}
.produktWlasciwyTytuly {
	width: 459px;
	border-bottom: 1px solid #d6d6d6;
	padding: 0 0 24px 0;
}
.produktWlasciwyTytul h1 {
	color: #000;
	font-size: 15px;
	font-weight: bold;
	font-family: Tahoma, Arial, Verdana, Helvetica;
	padding: 0;
}
.produktWlasciwyNazwa2 {
	padding: 2px 0 0 0;	
	color: #474747;
}
.produktWlasciwyLinki {
	margin: -9px 0 0 0;
	height: 17px;
	float: right;
}
.produktWlasciwyLinki a {
	float: left;
	margin: 0 0 0 5px;
}
a.linkFacebook {
	width: 14px;
	height: 14px;
	background: url("/images/gfx/ikona_facebook.gif") no-repeat;	
}
a.linkTwitter {
	width: 12px;
	height: 15px;
	background: url("/images/gfx/ikona_twitter.gif") no-repeat;
}
a.linkBlip {
	width: 16px;
	height: 16px;
	background: url("/images/gfx/ikona_blip.gif") no-repeat;	
}
a.linkSledzik {
	width: 16px;
	height: 16px;
	background: url("/images/gfx/ikona_sledzik.gif") no-repeat;	
}
a.linkFlaker {
	width: 16px;
	height: 16px;
	background: url("/images/gfx/ikona_flaker.gif") no-repeat;	
}
.produktWlasciwyDane {
	float: left;
	width: 566px;
	font-size: 12px;
	line-height: 18px;
	color: #474747;
	padding: 0 0 30px 0;
}
.produktWlasciwyDane span, .produktWlasciwyOpisyDodatkowe span, .produktWlasciwyOpisyDodatkowe strong {
	color: #000;
	font-weight: bold;		
}
.produktWlasciwyDane span a {
	font-weight: normal;
	color: #104586;
}
.produktWlasciwyKategorie {
	font-size: 12px;
	line-height: 18px;
	padding: 0 0 20px;
	margin: 0 20px 0 0;
	float: left;
	width: 758px;
	display: inline;
}
.produktWlasciwyKategorie a {
	color: #104586;	
	padding: 0 4px 0 0;	
}
.produktWlasciwyJezyk, .produktWlasciwyAutorzy, .produktWlasciwyCzas {
	padding: 0 0 12px 0;
}
.produktWlasciwyCzas {
	text-align: right;	
	float: right;
}
.produktWlasciwyJezyk img, .produktWlasciwyJezykorg img {
	margin: 0 0 0 5px;
	border: 1px solid #d5d5d5;
}
.produktWlasciwyWydanie a {
	font-size: 11px;
	color: #104586;	
}
.produktWlasciwyOpis {
	padding: 5px 30px 30px 0;
	font-size: 12px;
	line-height: 18px;
}
.produktWlasciwyOpis p, .produktWlasciwyOpis h4 {
	padding: 0 0 14px 0;	
}
.produktWlasciwyOpis ul {
	list-style: none;
	padding: 0 0 14px 15px;
}
.produktWlasciwyOpis ul li {
	padding: 0 0 0 13px;
	background: url("/images/gfx/li_czerwone.gif") no-repeat 0 8px;	
}
.produktWlasciwyOpisyPodstawowe {
	float: left;
	width: 380px;
}
.produktWlasciwyOpisyDodatkowe {
	padding: 0 0 20px 0;	
	font-size: 11px;
	line-height: 18px;
	text-align: right;
	float: right;
	width: 166px;
}
.produktWlasciwyOpisyDodatkowe div {
	padding: 0 0 0 17px;
	font-size: 11px;
}
.produktWlasciwyCeny {
	padding: 0 0 12px 0;
	line-height: 17px;
	color: #898989;
	float: left;
}
.produktWlasciwyCeny span {
	font-size: 12px;
	text-decoration: line-through;
	font-weight: normal;
	color: #898989;
}
.produktWlasciwyCeny strong {
	font-weight: bold;
	font-size: 13px;
	color: #000;
}
.produktWlasciwyCeny strong span {
	color: #d12727;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	font-size: 17px;
}
.produktWlasciwyPrzyciski {
	float: right;
}
.produktWlasciwyFormularz {
	width: 566px;
	float: left;	
}
.produktWlasciwyFormularz div.nazwa {
	float: left;
	width: 75px;	
	text-align: right;
	padding: 0 4px 0 0;
} 
.produktWlasciwyFormularz .clear {
	padding: 0 0 2px 0;
}
.produktWlasciwyFormularz .text {
	width: 400px;
}
.produktWlasciwyWydawnictwo img {
	margin: 0 0 -5px 0;
}
.przyciskDuzyKoszyk, .przyciskDuzySchowek {
	color: #fff;
	padding: 7px 0 0 32px;
	width: 108px;
	height: 26px;
	margin: 0 0 0 14px;
	float: left;
	display: inline;
	text-decoration: none !important;
}
.przyciskDuzyKoszyk {
	float: left;
	background: url("/images/gfx/przycisk_tlo_koszyk.gif") no-repeat;
}
.produktWlasciwyPrzyciski span {
	color: #c30500;	
}
.przyciskDuzySchowek {
	float: left;
	background: url("/images/gfx/przycisk_tlo_schowek.gif") no-repeat;
}
div.przyciskZapytaj {
	float: left;
	text-align: center;
	margin: -6px 12px 0;
	position: relative;
	display: inline;
}
a.przyciskZapytaj {
	float: left;
	width: 106px;
	height: 21px;
	background: url("/images/gfx/przycisk_tlo_zapytaj.gif") no-repeat;
	padding: 2px 0 0 34px;
	font-size: 11px;
	color: #000;	
	text-align: left;
	margin: 3px 0 0 0;
	text-decoration: none !important;
}
.produktWlasciwyKategorie {
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	margin: 0 20px 0 0;
	padding: 11px 0 12px;
}
.produktWlasciwyTagi {
	float: right;
	width: 309px;
	padding: 0 0 10px 10px;
}
.produktWlasciwyTagiGora {
	float: left;
	width: 309px;
	height: 5px;
	overflow: hidden;
	background: url("/images/gfx/box_tagim_gora.gif") no-repeat;
}
.produktWlasciwyTagiDol {
	float: left;
	width: 309px;
	height: 5px;
	overflow: hidden;
	background: url("/images/gfx/box_tagim_dol.gif") no-repeat;
}
.produktWlasciwyTagiSrodek {
	border-left: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
}
.produktWlasciwyTagi h2 {
	color: #000;
	font-size: 12px;
	margin: 0 12px;
	padding: 8px 2px 9px;
	border-bottom: 1px solid #dadada;	
}
.produktWlasciwyTagiTresc {
	padding: 8px 12px 8px;
	font-size: 11px;
	line-height: 18px;
}
.produktWlasciwyTagi .big {
	height: 5111px;	
}
.produktWlasciwyTagiTresc a {
	color: #104586;
	margin: 0 10px 0 0;
}
.produktWlasciwySklad {}
.produktWlasciwySklad ul {
	padding: 0 0 0 8px;
	list-style: none;
}
.produktWlasciwySklad ul li {
	padding: 0 0 0 8px;
	background: url("/images/gfx/li_pakiet.gif") no-repeat 0 5px;
}

/* produkt wplasciwy pakiety */
.produktWlasciwySklad {
	padding: 12px 0 12px 0;	
}
.produktWlasciwySklad ul {
	padding: 15px 0 5px 0;
}
.produktWlasciwySklad ul li {
	padding: 0 0 0 12px;
	color: #104586;	
}
.produktWlasciwySklad ul li a {
	color: #104586;
	padding: 0 0 0 5px;
}

/* stronnicowanie */
.pagerLinks {
	text-align: center;
	color: #313030;
	padding: 13px 0 16px;
	float: left;
	width: 790px;
}
.pagerLinks a {
	color: #313030;
}
.pagerLinks  {
	color: #313030;
}
.pagerLinks span.opis {
	font-weight: normal;
	padding: 15px 0 0 0;
	display: block;
}
.pagerLinks a.pagerLink {
	border: 1px solid #c30500;
	padding: 6px 5px;
	margin: 0 5px 0 0;	
}
.pagerLinks span.selected {
	padding: 6px 5px;
	margin: 0 5px 0 0;
	border: 1px solid #1b1b1b;
	background: #474747;
	color: #fff;
	font-weight: bold;
	text-decoration: none !important;
}
.pagerLinks a:HOVER {
	padding: 6px 5px;
	margin: 0 5px 0 0;
	border: 1px solid #1b1b1b;
	background: #474747;
	color: #fff;
	text-decoration: none !important;
}
.pagerLinks .pierwsza, .pagerLinks .ostatnia, .pagerLinks .poprzednia, .pagerLinks .nastepna {}
.pagerLinksTop {
	padding: 26px 0 20px;
}
	       
/* box dzialy */
#tabsDzialy {
	float: left;
	width: 639px;
	/*height: 164px;*/
	font-family: Arial, Tahoma, Verdana, Helvetica;
	/*position: relative;*/
	z-index: 3;
}
ul#tabsDzialyGora {
	width: 639px;
	height: 35px;
	list-style: none;
	background: url("/images/gfx/box_dol_srodek.gif") repeat-x bottom;
	
}
ul#tabsDzialyGora li {
	float: left;
}
ul#tabsDzialyGora li a {
	display: block;
	height: 35px;
}
ul#tabsDzialyGora li a:hover, ul#tabsDzialyGora li.ui-tabs-selected a  {
	background-position: 0 -35px;
}
#tabsDzial-0 a {
	background: url("/images/gfx/dzial_naukowy.gif") no-repeat 0 0;
	width: 173px;
}

#tabsDzial-1 a {
	background: url("/images/gfx/dzial_jezykowy.gif") no-repeat 0 0;
	width: 175px;
}

#tabsDzial-2 a {
	background: url("/images/gfx/dzial_ogolny.gif") no-repeat 0 0;
	width: 156px;
}


#tabsDzialySrodek {
	width: 637px;
	height: 121px;
	position: relative;
	z-index: 5;
	z-index: 100 !important;
}
#tabsDzialySrodek .rozwiniety {
	display: none;
	height: auto;
	z-index: 100 !important;
	border-top: 0 !important;
}
.tabsDzialySrodek {
	position: absolute;
	top: 0;
	left: 0;
	width: 637px;
	/*padding-bottom: 3px;*/
	border-left: 1px solid #e2e2e2;
	border-right: 1px solid #e2e2e2;
	z-index: 100 !important;
	background: #fff url("/images/gfx/dzialy_tlo.gif") repeat-x 0 0;
	font-family: Tahoma, Arial, Verdana, Helvetica;
	border-top: 3px solid #c02322 !important; 	
}
.tabsDzialySrodek ul {
	list-style: none;
	float: left;
	width: 637px;	
	height: 104px;
	overflow: hidden;
	z-index: 100 !important;
}
.tabsDzialySrodek ul li {
	padding: 6px 18px;
	width: 176px;
	float: left;
	z-index: 100 !important;
	font-weight: bold;
}
.tabsDzialySrodek ul li a {
	color: #474747;
	padding: 0 0 0 9px;
	background: url("/images/gfx/li_dzialy.gif") no-repeat 0 6px;
}
.tabsDzialySrodek ul li.selected a {
	color: #d12727;
	font-weight: bold;
}
#tabsDzialy .boxGlownyDol {
	width: 639px;
	float: left;
	position: relative;
	margin: 4px -1px -6px -1px;
}
#tabsDzialy .boxGlownyDolSrodek {
	width: 627px;
}
#tabsDzialy .strzalka {
	position: relative;
	z-index: 3;
	float: right;
	margin-bottom: -10px;
	margin-right: -1px;
	width: 19px;
	height: 16px;
	background: url("/images/gfx/ikona_strzalka.gif") no-repeat;
}

/* box bannery */
.boxBannery {
	text-align: center;
}
.boxBannery .banner {
	padding: 0 0 11px 0;
}

/* box bannery lewo */
.boxBanneryLewo {
	text-align: center;
}
.boxBanneryLewo .banner {
	margin: 0 0 12px 0;
}

/* box kontakt z nami */
.boxKontakt .wiecej {
	width: 120px;
}
.boxKontaktTresc {
	padding: 14px 0 25px 18px;
	line-height: 25px;
}
.boxKontaktTresc ul {
	list-style: none;
}
.boxKontaktTresc a {
	color: #313030;
	padding: 0 0 0 2px;
}

/* box newsletter */
.boxNewsletter {
	background: #f1f1f1;
}
.boxNewsletterTresc {
	padding: 4px 8px;
}
#newsletterBoxForm {
	position: relative;
	padding: 8px 11px 6px;	
}
#newsletterBoxForm #n_email {
	width: 102px;
	border: 1px solid #ebecef;
	padding: 2px 4px;
}
#newsletterBoxForm #send {
	position: absolute;
	top: 9px;
	right: 12px;
}
#newsletterForm .fChkLabel  {
	padding-top: 3px;
}
.boxNewsletter .boxGlownyDolLewo {
	background: url("/images/gfx/box_dol_lewo_newsl.png") no-repeat;
}
.boxNewsletter .boxGlownyDolSrodek {
	background: url("/images/gfx/box_dol_srodek_newsl.png") repeat-x;
}
.boxNewsletter .boxGlownyDolPrawo {
	background: url("/images/gfx/box_dol_prawo_newsl.png") no-repeat;
}

/* box koszyk */
.boxKoszyk {
	float: right;
	width: 352px;
	height: 35px;
	margin: 0 0 6px 0;
	position: relative;
	z-index: 902 !important;
}
.koszykWysInfo {
	border: 1px solid #f7ecc3;
	margin: 8px 0 12px;
	color: #000;
	background: #fefada url("/images/gfx/info_o_przesylce.gif") no-repeat 0 bottom;
	padding: 9px 0 9px 166px;
	font-size: 13px;
}
.koszykWysInfo span {
	padding: 5px 0 5px 16px;
	border-left: 1px solid #e7ddb9;
	float: left;
}
.boxKoszykGlowny {
	float: left;
	width: 352px;
	height: 35px;
	background: url("/images/gfx/koszyk_tlo.gif") no-repeat;
}
.boxKoszyk h2 {
	font-size: 15px;
	font-weight: bold;
	font-family: Arial, Tahoma, Verdana, Helvetica;
	padding: 9px 0 0 51px;
	float: left;
}
.boxKoszyk a {
	color: #c30500;
	text-decoration: none !important;
	cursor: pointer;
}
.boxKoszykPodsumowanie {
	float: left;
	padding: 11px 5px 0 27px;
}
.boxKoszykSrodek .wiecej {
	bottom: 0;
	right: 0;
	width: 63px;
	height: 15px;
	background: url("/images/gfx/przycisk_pokaz.gif") no-repeat 0 0;
}
#boxKoszykRozw .wiecej {
	bottom: 0;
	right: 0;	
	display: none;
	width: 63px;
	height: 15px;
	background: url("/images/gfx/przycisk_pokaz.gif") no-repeat 0 -15px;
}
#boxKoszykRozw {
	position: absolute;
	top: 35px;
	left: 0;
	width: 352px;
	z-index: 902;
	display: none;
}
#boxKoszykRozwGora {
	float: left;
	width: 352px;
	height: 6px;
	overflow: hidden;	
}
#boxKoszykRozwGoraLewo {
	float: left;
	width: 6px;
	height: 6px;
	background: url("/images/gfx/koszyk_gora_lewo.png") no-repeat;
	overflow: hidden;
}
#boxKoszykRozwGoraSrodek {
	float: left;
	width: 340px;
	height: 6px;
	background: #f3f4f4;
	overflow: hidden;
}
#boxKoszykRozwGoraPrawo {
	float: right;
	width: 6px;
	height: 6px;
	background: url("/images/gfx/koszyk_gora_prawo.png") no-repeat;
	overflow: hidden;
}
#boxKoszykRozwSrodek {
	float: left;
	width: 350px;
	background: #f3f4f4;
	border-right: 1px solid #e2e2e2;
	border-left: 1px solid #e2e2e2;
	position: relative;
}
#boxKoszykRozwSrodek a.przejdz {
	width: 116px;
	display: inline;
	height: 21px;
	background: url("/images/gfx/przycisk_do_koszyka.gif") no-repeat;
	float: left;
	margin: 0 0 0 10px;
}
#boxKoszykRozwSrodek table {
	padding: 0 5px 10px;
	border-spacing: 0;
	width: 350px;
	text-align: center;
	color: #313030;
}
#boxKoszykRozwSrodek table th {
	padding: 5px;
	font-weight: bold;
}
#boxKoszykRozwSrodek table th.tytul {
	border-right: 1px solid #fff;
	text-align: left;
}
#boxKoszykRozwSrodek table th.ilosc {
	border-right: 1px solid #fff;
	width: 30px;
}
#boxKoszykRozwSrodek table th.cena {
	width: 66px;
}
#boxKoszykRozwSrodek table td {
	
}
#boxKoszykRozwSrodek table td.tytul {
	border-right: 1px solid #fff;	
	border-top: 1px solid #fff;
	text-align: left;
	padding: 5px;
}
#boxKoszykRozwSrodek table td.ilosc {
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;	
	padding: 5px;
	font-weight: bold;
}
#boxKoszykRozwSrodek table td.cena {
	border-top: 1px solid #fff;
	padding: 5px;	
	font-weight: bold;
}
#boxKoszykRozwSrodek table td.cena div {
	font-weight: normal;
	text-decoration: line-through;	
}
#boxKoszykRozwDol {
	float: left;
	width: 352px;
	height: 6px;
	overflow: hidden;		
}
#boxKoszykRozwDolLewo {
	float: left;
	width: 6px;
	height: 6px;
	background: url("/images/gfx/koszyk_dol_lewo.png") no-repeat;
	overflow: hidden;
}
#boxKoszykRozwDolSrodek {
	float: left;
	width: 340px;
	height: 5px;
	background: #f3f4f4;
	overflow: hidden;
	border-bottom: 1px solid #e2e2e2;
}
#boxKoszykRozwDolPrawo {
	float: right;
	width: 6px;
	height: 6px;
	background: url("/images/gfx/koszyk_dol_prawo.png") no-repeat;
	overflow: hidden;
}

/* koszyk */
.koszykTytul {
	float: left;
	padding: 9px 0 0 62px;
	height: 50px;
}
.koszykTytul h1 {
	float: left;	
	font-size: 16px;
	color: #5e5e5e;
}
.koszykTytul h1 strong {
	font-size: 20px;
	color: #c30500;
}
.koszykKroki {
	float: left;
	padding: 20px 20px;
	font-weight: bold;
	color: #bebebe;
}
.koszykKrok {
	float: left;
	width: 235px;
	height: 24px;
	background: url("/images/gfx/krok.gif") no-repeat;
	margin: 0 2px 0 0;
	display: inline;
	padding: 9px 0 0 13px;
}
.koszykKroki .selected {
	color: #c30500;
	background: url("/images/gfx/krok_selected.gif") no-repeat;
}
#koszykForm {
	padding: 6px 0 0 13px;
	position: relative;	
}
.koszykFormZamowienia {
	padding: 0 !important;
	margin: 0 !important;
	float: left;
	display: inline;
}
#koszykFormZamowienia {
	width: 790px !important;
	margin: 34px 0 15px;
}
#koszykFormZamowienia th {
	color: #000 !important; 
	border-top: 1px solid #eae9e9;
}
#koszykFormZamowienia td {
	padding-top: 8px;
	padding-bottom: 8px;
}
#koszykFormZamowienia tr:hover td {
	background: #eeeeee;
}
#koszykFormZamowienia .status img {
	margin: 0 0 -4px 7px;
}
#koszykFormZamowienia td {
	background: #f8f8f8;
}
.koszykFormZamowienie {
	float: left;
	font-size: 14px;
	font-weight: bold;
	padding: 0 0 4px 5px;
}
.koszykFormZamowienie a {
	color: #000;
}
.koszykFormData {
	float: right;
	font-size: 11px;
	padding: 3px 5px 0 0;	
}
.koszykFormStatus {
	float: left;
	font-size: 11px;
	padding: 3px 5px 0 5px;	
}
table.koszyk {
	border: 0;
	width: 975px;
	border-spacing: 0;
	border-collapse: separate;
}
table.koszyk th {
	color: #000;
	text-align: center;
	padding: 11px 9px;
	border-bottom: 1px solid #eae9e9;
}
table.koszyk td {
	padding: 6px 9px;
	border-bottom: 1px solid #eae9e9;
}
table.koszyk tr.hover:HOVER {
	background: url("/images/gfx/koszyk-td-hover.gif") repeat-x 0 bottom;
}
table.koszyk a {
	color: #000;
}
table.koszyk td.pozycja {font-size: 12px;}
table.koszyk td.nazwa a {
	color: #104586;
}
table.koszyk td.zdjecie img {
	width: 25px;
	padding: 1px;
	border: 1px solid #dcd6cc;
	float: left;
	margin: 0;
}
table.koszyk td.cena span, table.koszyk td.wartosc span {
	text-decoration: line-through;
	font-weight: normal;
}
table.koszyk td.ilosc {
	font-weight: bold;
}
table.koszyk td.ilosc input {
	border: 0;
	width: 25px;
	float: left;
	color: #000;
	font-weight: bold;
	margin: 4px 0 0 15px;
} 
table.koszyk td.ilosc .updownbuttons {
	float: left;
	width: 12px;	
}
table.koszyk td.ilosc .up_item {
	width: 8px;
	height: 4px;
	background: url("/images/gfx/przycisk_wiecej.gif") no-repeat 3px 2px;
	float: left;
	margin: 0 0 4px 0;
	display: block;
	overflow: hidden;
	padding: 3px;
}
table.koszyk td.ilosc .down_item {
	width: 8px;
	height: 4px;
	background: url("/images/gfx/przycisk_mniej.gif") no-repeat 3px 2px;
	float: left;
	display: block;
	overflow: hidden;
	padding: 3px;
}
table.koszyk td.wartosc {
	color: #c30500;
}
table.koszyk td.przelicz {
	border: 0;
	text-align: right;
}
table.koszyk td.suma {
	padding: 10px 10px 10px 0;
	text-align: right;
	background: #f5f6f6;
	font-weight: bold;
}
table.koszyk td.suma .przeliczKoszyk {
	border: 0;
}
table.koszyk td.suma .cena {
	color: #000;
	font-size: 22px;
	font-weight: bold;
	padding: 0 20px 0 0 !important;
	margin: 0 !important;
}
.koszykSuma {
	float: left;
	width: 975px;
	text-align: right;
	background: #f8f8f8;
	font-size: 12px;
}
.koszykSuma td {
	vertical-align: middle !important;
	padding: 3px 26px 3px 0;	
}
.koszykSuma .cena {
	font-size: 20px;
	font-weight: bold;
	color: #c30500;	
}
.koszykPodtytul {
	padding: 50px 25px 13px;
	color: #c30500;
	font-weight: bold;
	font-size: 14px;	
}
#koszyk_kod_rabatowy {
	float: right;
	width: 405px; 
	height: 34px;
	font-weight: bold;
	font-size: 12px;
	background: url("/images/gfx/code-bg.png") no-repeat;
	margin: -12px 0 0;	
	padding: 6px 0 0;
}
#koszyk_kod_rabatowy .hintBox {
	float: right !important;
	margin: 6px 7px 0 9px;
}
#koszyk_kod_rabatowy .name {
	padding: 0 15px 0 17px;
	margin: 6px 0 0;
	color: #383f10;	
	font-family: Tahoma, Arial, Verdana, Helvetica;
	float: left;
}
#koszyk_kod_rabatowy .text {
	width: 130px;
	padding: 5px 6px 6px;
	background-color: #fff;
}
#koszyk_kod_rabatowy #confirmDiscountCode {
	float: left;
	width: 28px;
	height: 23px;
	background: url("/images/gfx/button-codeok.png") no-repeat;
	margin: 2px 2px 0 6px;
	cursor: pointer;
}
table.platnosci {
	margin: 0 0 16px;
}
table.platnosci th {
	padding: 6px 0;	
	text-align: left !important;
}
table.platnosci td {
	padding: 0;	
	border: 0;
}
table.platnosci ul {
	list-style: none;	
	float: left;
	padding: 5px 0 2px 0;
}
table.platnosci ul li {
	padding: 0 0 5px 0;	
}
table.koszykSumy {
	background: #f5f6f6;
	border: 1px solid #e3e4e5;
}
.koszykDotpay {
	position: absolute;
	bottom: 50px;
	left: 130px;
}
table.koszykSumy td {
	border: 0;
}
table.koszykSumy .koszykSumyPrawo {
	text-align: right;
	font-weight: bold;
}
div.koszykSumy {
	padding: 1px;
	float: right;
	border-right: 1px solid #e3e4e5;
	border-left: 1px solid #e3e4e5;
	border-bottom: 1px solid #e3e4e5;
}
a.sendBig {
	width: 142px;
	height: 33px;
	padding: 6px 0 8px 0;
	background: url("/images/gfx/przycisk_indeksy.gif") no-repeat;
	text-align: center;
	font-size: 13px;
	color: #fff;
	font-weight: bold;
	display: block;
	text-decoration: none !important;
	cursor: pointer;
}
a.sendMax {
	width: 220px;
	height: 33px;
	padding: 6px 0 8px 0;
	background: url("/images/gfx/przycisk_indeksy_duzy.gif") no-repeat;
	text-align: center;
	font-size: 13px;
	color: #fff;
	font-weight: bold;
	display: block;
	text-decoration: none !important;
	cursor: pointer;
}
input.sendBig {
	border: 0;
	width: 142px;
	height: 33px;
	padding: 4px 0 8px 0;
	background: url("/images/gfx/przycisk_indeksy.gif") no-repeat;
	text-align: center;
	font-size: 13px;
	color: #fff;
	font-weight: bold;
	font-family: Tahoma, Arial, Verdana, Helvetica;
	cursor: pointer;
}
input.sendBig2 {
	border: 0;
	width: 220px;
	height: 33px;
	padding: 4px 0 8px 0;
	background: url("/images/gfx/przycisk_indeksy_duze.gif") no-repeat;
	text-align: center;
	font-size: 13px;
	color: #fff;
	font-weight: bold;
	font-family: Tahoma, Arial, Verdana, Helvetica;
	cursor: pointer;
}
input.sendBigDark {
	border: 0;
	width: 140px;
	height: 33px;
	padding: 4px 0 8px 0;
	background: url("/images/gfx/przycisk_ciemny.gif") no-repeat;
	text-align: center;
	font-size: 13px;
	color: #fff;
	font-weight: bold;
	font-family: Tahoma, Arial, Verdana, Helvetica;
	cursor: pointer;
}
input.sendBigDark2 {
	border: 0;
	width: 142px;
	height: 33px;
	padding: 4px 0 8px 0;
	background: url("/images/gfx/przycisk_ciemny_2.gif") no-repeat;
	text-align: center;
	font-size: 13px;
	color: #fff;
	font-weight: bold;
	font-family: Tahoma, Arial, Verdana, Helvetica;
	cursor: pointer;
}
.koszykPodtytul2 {
	padding: 10px 0 0;
	margin: 0 0 15px;
	/*font-size: 13px;*/
	font-size: 15px;
	font-family: Arial, Tahoma, Verdana, Helvetica;
}
.koszykPodtytul2 strong {color: #c30500;}
.koszykPodtytul2 u {font-weight: bold;}
.koszykPodtytul3 {
	padding: 20px 0 20px 5px;
	color: #c30500;
	font-weight: bold;
	font-size: 12px;
}
.koszykKomunikat {
	padding: 25px 0 0 22px;
	font-size: 12px;
	line-height: 18px;	
}
.koszykKomunikat span {
	color: #c30500;
}
table.dane {
	width: 100%;
	padding: 0 0 25px 0;
}
table.dane td {
	padding: 0 0 8px 0;
	vertical-align: top;	
}
table.dane .daneTytul {
	width: 162px;
	padding: 0 15px 0 0;
	text-align: right;
	color: #9d9d9d;
}

/* zamowienie w koncie */
.orders {padding: 26px 0 0;width: 790px;}
.ordersNr {font-size: 12px;}
.ordersNr strong {font-size: 17px;color: #c30500;}
.ordersStatus {
	font-size: 12px;
	float: right;
	padding: 12px;
	background: #f8f8f8;
}
.ordersStatus strong {color: #c30500;}
.ordersData {padding: 4px 0 0;}
.orders .step2Option {width: 383px;}
.orders .koszykPods {width: 790px;}
.orders .koszykPods tr.deleted td, .orders .koszykPods tr.deleted td a {color: #868686 !important;}
.orders .koszykPods tr.deleted td.nazwa img {margin: 0 0 -3px;}
.orders .koszykSuma {
	width: 790px;
	padding: 8px 0 0;
}
.orders .koszykSuma .cena {color: #000;}
.orders .totalValue {
	border: 2px solid #d7d7d7;
	float: right;
	padding: 17px;
	font-weight: bold;
	font-size: 12px;
	text-align: right;
}
.orders .totalValue strong {
	font-size: 25px;
	color: #c30500;
	margin: 0 0 0 7px;
}
.orders .totalValueNormal {
	font-size: 12px;
	font-weight: normal;
}
.orders .totalValueNormal strong {
	font-size: 12px;
	color: #000000;
}
.orders #paymentBankSection {
	width: 790px !important;
	margin: 30px 0 0;
}
.orders #paymentBankSection li {
	width: 340px !important;
}
.orders #paymentBankSection h2 {
	background: url("/images/gfx/logo-platnosci.gif") no-repeat 643px 15px !important;
}
.ordersInfo {
	float: left;
	width: 790px;
	font-size: 12px;
	line-height: 18px;
	margin: 18px 0 20px;
	border-top: 1px solid #eae9e9;
	padding: 24px 0 0;
}
.ordersInfo ul {list-style: none;float: left;}
.ordersInfo ul li {}
.order_id_balance a {
	color: #104586 !important;
}
.ordersProforma {
	float: left;
	padding: 0 15px 0 15px;
}
.ordersProforma a {
	float: left;
	width: 200px;
	height: 61px;
	background: url("/images/gfx/button-pobierz-fakture.gif") no-repeat;
}

/* step 2 */
#step2 {
	padding: 6px 0 0 13px;
	width: 975px;
}
.step2Option {
	float: left;
	padding: 0 23px 0 0 !important;
	position: relative;
}
.loading {
	text-align: center;	
	width: 100%;
}
#transport_address_section_loading, #invoice_address_section_loading, #invoice2_address_section_loading {
	position: absolute;
	top: 120px;
	left: 0px;
	background: #fff;
}
.step2Option .fRow {
	float: left;
	border: 0;
	padding-bottom: 10px;
}
.step2Option .fLabel {
	float: left;
	width: 90px;
	color: #999;
	font-size: 12px;
	text-align: right;
	margin-right: 2px;
}
.step2Option select {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	padding: 2px 0 2px 3px;
	width: 190px;
	border-left: 1px solid #828282;
	border-top: none;
	border-right: 1px solid #dedfe0;
	border-bottom: 1px solid #dedfe0;
	background: url("/images/gfx/input_tlo.gif") repeat-x;
}
.step2Option .mojeAdresy {
	float: left;
	border: 0;
	padding: 0;
	margin: 0;
}
.step2Option .mojeAdresy .daneLewo {
	width: 90px;
}
.step2Option .mojeAdresy .daneLewo, .step2Option .mojeAdresy .danePrawo {
	margin-bottom: 4px;
}
.step2Option_3Content {
	font-size: 12px;
	line-height: 16px;
	width: 300px !important;
}
.step2Option .koszykPodtytul2, #step2 .koszykPodtytul2 {
	border-bottom: 1px solid #eae9e9;
	padding-bottom: 16px;	
}

/*
#show_second_invoice {
	float: left;
	width: 234px;
	height: 38px;
	background: url("/images/gfx/button-chce-otrzymac-druga.gif") no-repeat;
	margin: 14px 0 0 32px;
}
*/

#show_second_invoice {
	float: left;
	width: 138px;
	height: 38px;
	background: url("/images/gfx/button-dwie-faktury-vat.gif") no-repeat;
	margin: 14px 0 0 72px;
}
#hide_second_invoice {
	float: right;
	width: 300px;
	border-top: 1px solid #eae9e9;
	padding: 8px 0 0 0;
	font-size: 12px;
}
.step2Option_3 .mojeAdresy {
	margin-bottom: 12px;
}
#hide_second_invoice span {
	float: right;
	padding: 0 0 0 12px;
	background: url("/images/gfx/li-registration.gif") no-repeat 0 5px;	
	cursor: pointer;
}
.editAddressesButton {
	text-align: left;
	border-bottom: 1px solid #eae9e9;
	margin: 15px 0 8px 0;
	padding: 0 181px 0 0;
}
.editAddressesButton span {
	padding: 0 0 0 13px;
	float: right;
	font-size: 12px;
	background: url("/images/gfx/li-registration.gif") no-repeat 0 4px;
}
a#editAddressesButton {
	float: right;
	width: 254px;
	height: 32px;
	background: url("/images/gfx/button-zmien-lub-dodaj-dane2.gif") no-repeat;
	margin: -9px 0 12px 12px;
}
#paymentBankSection {
	float: left;
	width: 975px;
	border: 1px solid #d7d7d7;
	margin: 0 0 15px;
}
#paymentBankSection h2 {
	border-bottom: 1px solid #e5e5e5;
	font-size: 13px;
	color: #000;
	margin: 0 14px;
	padding: 15px 0 16px;	
	background: url("/images/gfx/logo-platnosci.gif") no-repeat 818px 15px;
}
#paymentBankSection ul {
	float: left;
	margin: 0 0 14px;
}
#paymentBankSection ul li {
	float: left;
	list-style: none;
	width: 430px;
	margin: 1px 0 0 36px;
	height: 36px;
}
#paymentBankSection ul li input {
	float: left;
	margin: 12px 13px 0 0;
}
#paymentBankSection ul li img {
	float: left;
	margin: 10px 0 0;
}
#paymentBankSection ul li label {
	float: left;
	margin: 12px 13px 0 10px;
}
.fRowRemarks {
	float: left;	
	padding: 0 22px 0 0;
}
.fRowRemarks .fLabel {
	float: none;
	padding: 0;	
	text-align: left;
	color: #9d9d9d;
	font-size: 10px;
	width: 280px;
}
.fRowRemarks .fLabel strong {
	font-size: 12px;
	color: #000;
}
.fRowRemarks textarea, input#transport_remarks {
	background: #fff url("/images/gfx/textarea_tlo2.gif.gif") repeat-x top !important;
	margin: 11px 0 0 !important;
	height: 54px !important;
}
textarea#remarks {width: 612px !important;}
input#transport_remarks {
	width: 312px !important;
	height: auto !important;
	padding-bottom: 43px !important;
}

table.koszykPods {
	width: 975px;
}
table.koszykPods th {
	border-bottom: 1px solid #eae9e9;
	padding: 0 10px 16px;
}
table.koszykPods td {
	background: #f8f8f8 !important;
	border-bottom: 1px solid #eae9e9;
	padding: 6px 10px 7px !important;
}
table.koszykPods td.nazwa a {color: #000;}
table.koszykPods td.ilosc {font-weight: bold;}
table.koszykPods td.wartosc {
	font-weight: bold;
	color: #c30500;
}
table.koszykPods td.wartosc span, table.koszykPods td.cena span {
	text-decoration: line-through;	
}
#step2 .koszykPodtytul2 {margin: 0 0 18px;}
#invoice2_help {
	float: left;
	width: 	258px;
	background: url("/images/gfx/step2-info.png") no-repeat;
	margin-bottom: 12px;
	color: #000;
	text-align: center;
	padding: 14px 21px 16px;
}
.summaryButton {
	border-top: 1px solid #eae9e9;
	padding: 19px 0 0 382px;	
	margin: 12px 0 0;
}
.summaryButton a {
	float: left;
	width: 156px;
	height: 48px;
	background: url("/images/gfx/button-zakoncz.gif") no-repeat;
}

/* formularz kontaktu */
.formularzText {
	padding: 15px 15px 25px;
	float: left;
	font-size: 12px;
	line-height: 18px;
}
.formularzTresc {
	width: 620px;
	padding: 15px 0 0 140px;
}
.formularzText a {
	color: #272727;
	text-decoration: none;
}

/* podsumowanie */
.summaryTop {
	float: left;	
	margin: 6px 0 28px 13px;
	width: 945px;
	background: #fefadb;
	border: 1px solid #f7ebc0;
	padding: 0 15px 20px;
	display: inline;
}
.summaryTopTitle {
	text-align: center;
	font-size: 14px;
	color: #c30500;
	font-weight: bold;
	padding: 25px 0 12px;
	margin: 0 0 8px;
	border-bottom: 1px solid #eee5c5;
}
.summaryTopNr {
	text-align: center;
	font-size: 26px;
	color: #000;
	font-weight: bold;	
	padding: 0 0 15px;
	margin: 0 0 8px;
	border-bottom: 1px solid #eee5c5;
}
.summaryTopNrInfo {
	font-size: 12px;
	font-weight: normal;
}
.summaryTopSeller {
	padding: 0 0 0 200px;
	font-size: 12px;
	line-height: 16px;
}
.summaryTopSeller .clear {
	height: 8px;	
}
.summaryTopSeller .title {
	float: left;
	width: 221px;
	padding: 0 9px 0 0;
	text-align: right;
}
.summaryTopSeller .data {
	float: left;
	font-weight: bold;
}
.step2OptionSummary {margin-bottom: 28px;}
.step2OptionSummary .koszykPodtytul2 {margin-bottom: 14px;}

/* wyszukiwarka zaawansowana */
.searchForm {
	padding: 30px 0 0 200px;
}
#searchForm {
	width: 342px;
	text-align: right;
}
#searchForm #aval {
	margin: 2px 0 0 0;
	display: inline;
} 
#searchForm .fRow {
	padding-bottom: 8px;
}
#searchForm .label {
	width: 130px;
	float: left;
	text-align: right;
	padding-top: 4px; 
	padding-right: 4px;
}
#searchForm select {
	width: 203px;	
}

/* formularze */
.fRow {
	padding: 0 0 17px 0;
}
.fRowMini {
	float: left;
	width: 190px;
}
.fRowMini .fLabel {
	float: left;
	width: 115px;	
}
.fRowMini input {
	width: 55px !important;
	float: left !important;	
}
.fLabel {
	width: 115px;
	float: left;
	text-align: right;
	padding: 4px 6px 0 0;
	color: #353535;
	margin-right: 9px;
}
.fInput {
	float: left;	
}
.fLabel2 a {
	color: #c30500;
	font-size: 12px;
	font-weight: bold;
	padding: 2px 0 0 5px;
}
input.text, .registrationFormX .fInput input, #loginForm .text {
	border: 1px solid #dedfe0;
	border-left: 1px solid #828282;
	background: url("/images/gfx/input_tlo.gif") repeat-x top;
	padding: 3px 6px;
	width: 190px;
}
select.text, .select {
	border: 1px solid #dedfe0;
	border-left: 1px solid #828282;
	background: url("/images/gfx/input_tlo.gif") repeat-x top;
	padding: 3px 1px 3px 6px;
	width: 190px;	
}
.fInput input.inputDisabled {
	border: 1px solid #f6f6f7;
	border-left: 1px solid #d7d7d7;
	background: url("/images/gfx/input_disabled_tlo.gif") repeat-x top;
	padding: 3px 6px;	
	width: 190px;
	color: #4b4b4b;
}
textarea, input#transport_remarks {
	border: 1px solid #dedfe0;
	background: url("/images/gfx/textarea_tlo.gif") repeat-x top;
	padding: 3px 6px;
	width: 493px;
	overflow: auto;
	height: 104px;
	line-height: 18px;
	border-left: 1px solid #828282;
}


.registForm .fRow, #registerForm .fRow, .registrationForm .fRow {
	padding: 0 0 7px 0;
	width: 460px;
}
.registForm .fLabel, #registerForm .fLabel, .registrationForm .fLabel {
	width: 115px;
	float: left;
	text-align: right;
	padding: 4px 6px 0 0;
	color: #353535;
	font-size: 12px;
}
.registForm .fInput, #registerForm .fInput, .registrationForm .fInput {
	float: left;	
}
.registForm .fLabel2 a, #registerForm .fLabel2 a, .registrationForm .fLabel2 a {
	color: #c30500;
	font-size: 12px;
	font-weight: bold;
	padding: 2px 0 0 5px;
}
.registForm input.text, .registrationFormX .fInput input, #registerForm input.text, .registrationForm input.text, #loginForm input.text,  #koszykForm input.text {
	background: url("/images/gfx/input-registration.gif") no-repeat 0 0;
	padding: 6px 25px 7px 6px !important;
	width: 236px !important;
	border: 0 !important;
}
input.validErr {background-position: 0 -74px !important;}
input.validOK {background-position: 0 -37px !important;}
input.validWarn {background-position: 0 -111px !important;}
#registerForm_info, .validMsg {
	border: 1px solid #f7ebc0;
	float: left;
	color: #c30500;
	padding: 3px 8px 4px 18px;
	margin: 7px 0 7px 130px;
	width: 237px;
	display: inline;
	background: #fefada url("/images/gfx/li-registration.gif") no-repeat 7px 7px;
}
.registForm select.text, .registForm .select, #registerForm select.text, #registForm .select {
	border: 1px solid #dedfe0;
	border-left: 1px solid #828282;
	background: url("/images/gfx/input_tlo.gif") repeat-x top;
	padding: 3px 1px 3px 6px;
	width: 190px;	
}
.registForm .fInput input.inputDisabled, #registerForm .fInput input.inputDisabled {
	border: 1px solid #f6f6f7;
	border-left: 1px solid #d7d7d7;
	background: url("/images/gfx/input_disabled_tlo.gif") repeat-x top;
	padding: 3px 6px;
	width: 190px;
	color: #4b4b4b;
}
.registForm textarea, #registerForm textarea {
	border: 1px solid #dedfe0;
	background: url("/images/gfx/textarea_tlo.gif") repeat-x top;
	padding: 3px 6px;
	width: 493px;
	overflow: auto;
	height: 104px;
	line-height: 18px;
	border-left: 1px solid #828282;
}


/* rejestracja */
.registrationForm .fRow {
	padding: 0 0 7px 0;
	width: 460px;
}
.registrationForm .fRowMini {
	float: left;
	width: 227px;
}
.registrationForm .fRowMini .fLabel {
	float: left;
}
.registrationForm .fRowMini input {
	background: url("/images/gfx/input-registration-mini.gif") no-repeat 0 0 !important;
	padding: 6px 25px 7px 6px !important;
	border: 0 !important;
	width: 63px !important;
}
.fRowType {
	float: left;
	font-weight: bold;
	margin: 0 0 8px !important;
}
.fRowType .fLabel {
	color: #c30500;
	font-size: 13px;
	margin: 6px 0 0;
}
.fRowType ul.radiosList {
	padding-left: 0;
	margin-left: 0;
}
.fRowType ul.radiosList li {
	float: left;
	font-size: 12px;
	list-style: none !important;
	margin: 0 10px 0 0;
}
.fRowType ul li {list-style: none;}
.fRowType {margin: 0 0 30px;}
.fRowType ul.radiosList li #addr_1_is_company_0, .fRowType ul.radiosList li #addr_1_is_company_1 {float: left;}
.buttonLine {
	border-top: 1px solid #eae9e9;	
	border-bottom: 1px solid #eae9e9;	
	background: #f8f8f8;
	padding: 15px 16px;
	margin: 17px 0 0;
	float: left;
	width: 758px;
}
.buttonLineBig {
	width: 941px;	
	margin: 0;
}
.registrationForm {
	padding: 20px 0 20px 0;
	width: 790px;
}
.registrationForm ul {
	float: left;
	list-style: none;
	padding: 5px;
}
.registrationForm ul li {
	padding: 4px;
}
.koszykPodtytulNewsletter {
	font-size: 14px;
	font-weight: bold;
	color: #c30500;
	background: white;
	float: left;
	padding: 0 0;
}
.newsletterGroup {
	padding: 10px 0 20px !important;
}
.newsletterGroupName {
	padding: 15px 0 5px 0 !important;
	margin: 0 0 13px;
}
.newsletterGroup .koszykPodtytul2 {
	padding: 20px 0 0 20px !important;
	color: #474747;
	font-weight: bold;
	font-size: 12px;
	float: left;
	border: 0;
}
ul.categories {
	float: left;
	list-style: none;
	width: 230px !important;
	padding: 0 0 0 16px;
}
ul.categories li {
	float: left;
	width: 230px;
}
ul.categories .fCheckbox {
	float: left;
}
ul.categories label {
	padding: 3px 0 0 3px;
	float: left;
	width: 200px;
}
.fLabelKonto {
	/*padding: 0 0 0 80px;*/
}
.fLabelKonto a {
	color: #000;
}
.hintBox {
	float: left;
	width: 14px;
	height: 14px;
	background: url("/images/gfx/znak_zapytania.gif") no-repeat;
	display: block;
	margin: 7px 0 0 10px;
}
.newsletterInfo {
	border-top: 1px solid #eae9e9;
	border-bottom: 1px solid #eae9e9;
	padding: 20px 21px 20px 120px;
	margin: 36px 0 5px;
	font-size: 12px;
	background: #f7f7f7 url("/images/gfx/newsletter-info.gif") no-repeat 14px 14px;
}
#newsletterMore {
	float: left;
	width: 234px;
	height: 38px;	
	background: #f7f7f7 url("/images/gfx/button-wybierz-kategorie.gif") no-repeat;
	margin: 12px 0 0;
	cursor: pointer;
}
.newsletterBox {
	float: right;
	width: 288px;
	background: url("/images/gfx/newsletter-box-center.gif") repeat-y;
}
.newsletterBoxTop {
	float: left;
	width: 288px;
	height: 8px;
	background: url("/images/gfx/newsletter-box-top.gif") no-repeat;
	overflow: hidden;
}
.newsletterBoxBot {
	float: left;
	width: 288px;
	height: 8px;
	background: url("/images/gfx/newsletter-box-bottom.gif") no-repeat;
	overflow: hidden;
}
.newsletterBoxContent {
	float: left;
	padding: 10px 15px;
	line-height: 18px;
}
.newsletterBox h3 {
	border-bottom: 1px solid #eae9e9;
	font-size: 11px;
	padding: 0 0 9px;
	margin: 0 0 8px;	
}

/* logowanie z polami wyboru */
.registForm {
	padding: 20px;
	width: 750px;		
}
.registFormBig {
	width: 975px;
	padding:6px 0 0 13px;	
}
.registFormBigLogin .text {width: 250px !important;}
.registFormBigLogin .login_cart_link {
	color: #a3a3a3;
	margin: 5px 0 0 122px;
	float: left;
}
.registFormBigLogin h2 {
	margin: 0;
	padding: 0;
	font-size: 12px;
	color: #000;
	margin: 0 0 25px 44px;
}
.registFormBigRegis {
	float: right;
	border: 1px solid #e8e8e8;
	background: #f8f8f8;
	width: 390px;
	padding: 26px 18px 36px;	
	margin: 0 16px 58px 0;
}
.registFormBigRegis h2 {
	margin: 0;
	padding: 0;	
	font-size: 12px;
	color: #000;
	margin: 0 0 25px;
}
.registFormBigRegis ul {
	list-style: none;	
}
.registFormBigRegis ul li {
	padding: 0 0 7px 26px;
	background: url("/images/gfx/li_czerwone.gif") no-repeat 13px 4px;
}
.registFormBigRegis .formRegister {
	border-bottom: 1px solid #e1e0e0;
	width: 390px;
	margin: 17px 0 0;
	float: left;
}
.registFormBigRegis .formRegister .send {
	margin: 0 0 -11px;	
	padding: 0 0 0 11px;
	background: #f8f8f8;
	position: relative;
}

/* konto */
.kontoOpcje {
	float: left;
	padding: 12px 0 0;
	width: 790px;
	border-bottom: 1px solid #e2e2e2;
}
.kontoOpcje ul li a {
	float: left;
	font-weight: bold;
	font-size: 13px;
	color: #000;
	height: 28px;
	overflow: hidden;
}
.kontoOpcje ul {list-style: none;margin: 0 0 0 4px;}
.kontoOpcje ul li {
	float: left;
	height: 29px;
	margin: 0 1px -1px 0;
	overflow: hidden;
	position: relative;
}
.kontoOpcje ul li .kontoOpcjeLewo {
	float: left;
	width: 5px;
	height: 28px;
	background: url("/images/gfx/konto.gif") no-repeat 0 0;
}
.kontoOpcje ul li .kontoOpcjeSrodek {
	float: left;
	height: 28px;	
	padding: 5px 6px 0 10px;
	background: url("/images/gfx/konto.gif") repeat-x 0 -34px;	
}
.kontoOpcje ul li .kontoOpcjePrawo {
	float: left;
	width: 10px;
	height: 28px;
	background: url("/images/gfx/konto.gif") no-repeat 0 -68px;
}
.kontoOpcje ul li a:HOVER, .kontoOpcje ul li.selected a {
	text-decoration: none;
	color: #c30500;
	height: 29px !important;
}
.kontoOpcje ul li a:HOVER .kontoOpcjeLewo, .kontoOpcje ul li.selected a .kontoOpcjeLewo {
	height: 29px;
	background: url("/images/gfx/konto.gif") no-repeat 0 -102px;
}
.kontoOpcje ul li a:HOVER .kontoOpcjeSrodek, .kontoOpcje ul li.selected .kontoOpcjeSrodek {
	height: 29px;	
	background: url("/images/gfx/konto.gif") repeat-x 0 -136px;	
}
.kontoOpcje ul li a:HOVER .kontoOpcjePrawo, .kontoOpcje ul li.selected .kontoOpcjePrawo {
	height: 29px;
	background: url("/images/gfx/konto.gif") no-repeat 0 -170px;
}
.rabatTwojeKonto {
	width: 770px;
	text-align: left;
	padding: 0 0 0 20px;
	color: #272727;
	font-size: 12px;
	font-weight: bold;	
}
.rabatTwojeKonto ul {
	list-style: none;
	margin-top: 15px;
}
.rabatTwojeKonto ul li {
	padding: 0 0 6px 20px;
	background: url("/images/gfx/li_czerwone.gif") no-repeat 5px 5px;
	font-weight: normal;
}
.rabatTwojeKonto span {
	font-size: 18px;
	color: #c30500;
}

/* tresc */
table#stacjonarne {
	font-family: Arial, Tahoma, Verdana, Helvetica;
		
}
table#stacjonarne td {
	border: 0;
	border-bottom: 1px solid #e9eaed;
	padding: 30px 0 20px;
	vertical-align: top;		
}
#pasekNawig {
	color: #000;
	font-size: 10px;
	padding: 0 0 10px 12px;
	float: left;
	width: 776px;
}
#pasekNawig a {
	color: #000;
	float: left;
}
#pasekNawig a#spathGlowna {
	font-weight: bold;
}
#pasekNawig span {
	background: url("/images/gfx/okruszki.gif") no-repeat;
	display: block;
	float: left;
	width: 6px;
	height: 5px;
	margin: 4px 6px 0 6px;
}
h1 {
	color: #c30500;
	font-size: 17px;
	font-weight: bold;
	padding: 6px 6px 0 6px;	
	font-family: Arial, Tahoma, Verdana, Helvetica;
	float: left;
}
.boxGlownyTytul h2 {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 8px 0 8px;	
	font-family: Arial, Tahoma, Verdana, Helvetica;
	float: left;	
}

/* lista produktow */
#boxTresc {
	position: relative;	
	float: left;
	padding: 0 0 30px 0;
}
#sortowanie {
	position: absolute;
	right: 10px;
	top: -25px;
	z-index: 1;
	/*width: 260px;*/
}
#sortowanie span {
	padding: 2px 5px 0 0;
	float: left;	
}
#sortowanie form {
	float: right;
}
#sortowanie form select {
	width: 110px;
}
.rss {
	float: right;
	height: 16px;
	padding: 5px 19px 0 0;
	color: #7a7979;
	background: url("/images/gfx/rss.gif") no-repeat right 4px;
	margin: 6px 5px;
}
.nav {
	padding: 6px 15px 0 0;
	color: #313030;
	font-size: 11px;
	float: right;
	height: 28px;
}
.nav a {
	text-align: center;
	display: block;
	float: left;
	width: 30px;
	background: url("/images/gfx/zakladki_box.gif") no-repeat left 0;
	padding: 8px 0 7px;
	color: #313030;
	text-decoration: none !important;
	margin: 0 2px 0 0;
}
.nav a:hover, .nav a.activeSlide {
	font-weight: bold;
	color: #000;
	background: url("/images/gfx/zakladki_box.gif") no-repeat left -58px;
}
.one_news_box_page {
	float: left;
	width: 788px;
}

/* strona opisowa */
.paragraph {
	padding: 10px 18px 4px;
	line-height: 20px;
	font-size: 12px;	
	width: 754px;
	float: left;
}
.paragraph h3 {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 8px 6px 0;	
	font-family: Arial, Tahoma, Verdana, Helvetica;	
}
.paragraph p {
	padding: 0 0 5px 0;
}
.paragraph a {
	color: #353535;
}
.paragraph ul {
	list-style: none;
	padding: 0 0 0 23px;
}
.paragraph ol {
	padding-top: 0;
	margin-top: 0;
}
.paragraph ul li {
	padding: 0 0 0 13px;
	background: url("/images/gfx/li_czerwone.gif") no-repeat 0 8px;	
}
.paragraph ul li p, .paragraph ol li p {
	margin: 0;
	padding: 0;
}
.paragraph table {
	border: 1px solid #e4e4e4;
	width: 99%;
	border-collapse: separate;
	border-spacing: 1px 1px;
	margin: 0 0 20px 0;
}
.paragraph table th {
	color: #c30500;
	border: 1px solid #c8d2d6;
	background: #dfe2e4;
	text-align: left;
	padding: 3px 12px;
}
.paragraph table td {
	border: 1px solid #e4e4e4;
	padding: 4px 9px;
}

/* zalaczniki */
.Pliki .zalacznikiTXT {
	font-weight: bold;
}
.Pliki a {
	color: #000;	
}

/* zdjecia */
.photosBottom, .photosTop {
	padding: 5px 0 15px 0;
	float: left;
	width: 754px;
}
.photosBottom .photoCnt, .photosTop .photoCnt {
	width: 145px;
	padding: 0 17px;
	float: left;
}
.photosBottom .photoCnt img, .photosTop .photoCnt img {
	border: 1px solid #ededed;
	padding: 1px;
	background: #fff;
}
.photosBottom .photoCnt .photoDescription, .photosTop .photoCnt .photoDescription {
	padding: 1px 4px;
	font-size: 10px;
	color: #000;
	text-align: left;
	width: 138px;
	line-height: 15px;
}
.photosLeft {
	float: left;
	width: 152px;
	padding: 5px 10px 5px 0;
}
.photosRight {
	float: right;
	width: 152px;
	padding: 5px 10px 5px 10px;
}
.photosLeft .photoCnt, .photosRight .photoCnt {
	padding-bottom: 10px;
	float: left;
	width: 146px;
}
.photosLeft .photoCnt img, .photosRight .photoCnt img {
	border: 1px solid #ededed;
	padding: 1px;
	background: #fff;
}
.photosLeft .photoCnt .photoDescription, .photosRight .photoCnt .photoDescription {
	padding: 1px 4px;
	font-size: 10px;
	color: #000;
	text-align: left;
	width: 138px;
	line-height: 15px;
}
.textPhoto {
	text-align: center;
}

/* dol */
#dol {
	float: left;
	width: 1002px;
	margin: -12px 0 0;
}
#dolTytul {
	float: left;
	height: 32px;
}
#dolTytulLewo {
	float: left;
	width: 5px;
	height: 32px;
	background: url("/images/gfx/dol_tytul_lewo.gif") no-repeat;
}
#dolTytulSrodek {
	float: left;
	width: 992px;
	height: 32px;
	background: url("/images/gfx/dol_tytul_srodek.gif") repeat-x;
}
#dolTytulSrodek h2 {
	font-size: 13px;
	font-weight: bold;
	color: #fff;	
	font-family: Arial, Tahoma, Verdana, Helvetica !important;
	padding: 7px 10px 0;
}
#dolTytulPrawo {
	float: right;
	width: 5px;
	height: 32px;
	background: url("/images/gfx/dol_tytul_prawo.gif") no-repeat;
}
#dolSrodek {
	float: left;
	width: 1000px;
	/*height: 146px;*/
	border-left: 1px solid #d0d3d8;
	border-right: 1px solid #d0d3d8;
	background: #fefefe url("/images/gfx/dol_srodek.gif") repeat-x bottom;
}
#dolDol {
	float: left;
	overflow: hidden;
	height: 5px;
}
#dolDolLewo {
	float: left;
	width: 5px;
	height: 5px;
	background: url("/images/gfx/dol_dol_lewo.gif") no-repeat;
	overflow: hidden;
}
#dolDolSrodek {
	float: left;
	width: 992px;
	height: 5px;
	background: url("/images/gfx/dol_dol_srodek.gif") repeat-x;
	overflow: hidden;
}
#dolDolPrawo {
	float: right;
	width: 5px;
	height: 5px;
	background: url("/images/gfx/dol_dol_prawo.gif") no-repeat;
	overflow: hidden;
}

/* lista kategorii */
.listaKategorii {
	padding: 18px 0 18px 25px;
	float: left;
}
.listaKategorii ul {
	list-style: none;
}
.listaKategorii ul li {
	color: #4f4f4f;
	font-size: 12px;
	font-weight: bold;
	padding: 0 0 10px 0;
}
.listaKategorii ul li a {
	color: #4f4f4f;	
	padding: 0 0 0 10px;
	background: url("/images/gfx/li_szare.gif") no-repeat 0 6px;
}
.listaKategorii ul li a:hover {
	color: #c30500;
	text-decoration: none;	
}
.listaKategorii ul ul {	
	padding: 10px 0 0 41px;
}
.listaKategorii ul ul li {
	padding-bottom: 4px !important;
}
.listaKategorii ul ul li a {
	font-size: 11px;
	color: #4f4f4f;
	font-weight: normal;
}

/* indeks autorow */
.autorzyLitery {
	padding: 22px 0 0 16px;	
}
.autorzyLitery ul {
	list-style: none;		
}
.autorzyLitery ul li {
	float: left;
	padding: 0 19px 0 0;
	font-size: 15px;
	font-weight: bold;
	color: #717070;
}
.wydawcyLitery ul li {
	padding: 0 18px 0 0;
}
.autorzyLitery ul li a {
	color: #c30500;
}
.autorzyLitery ul li a.active {
	color: red;
	text-decoration: underline;
}
.autorzySpis {
	padding: 37px 0;	
}
.autorzySpis ul {
	list-style: none;
	float: left;
	width: 230px;
	padding: 0 0 0 30px;
}
.autorzySpis ul li {
	padding: 0 0 9px 14px;
	background: url("/images/gfx/li_szare.gif") no-repeat 0 6px;
}
.autorzySpis ul li a {
	color: #000;
}

/* lista serii */
.indeksSerii {
	padding: 22px 0 0 16px;
}
.indeksSerii ul {
	list-style: none;
	font-size: 14px;
	font-weight: bold;
	float: left;
}
.indeksSerii ul li {
	float: left;
	width: 180px;
	height: 100px;
	position: relative;
	margin: 0 5px 35px;
	display: inline;
}
.indeksSerii .serie ul {
	padding: 0 0 0 10px;
	flaot: left;
	width: 180px;
}
.indeksSerii .serie ul li {
	float: left;
	width: 180px;
	height: auto !important;
	position: relative;
	margin: 0 0 9px !important;
	display: inline;
}
.indeksSerii ul li img {
	padding: 0 0 5px 0;
}
.indeksSerii ul li a {
	color: #272727;
	margin: 0 0 6px 0;
}
.indeksSerii ul li .calosc {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 180px;
	float: left;
}
.indeksSerii ul li .zdjecie {
	text-align: center;	
	width: 180px;
	float: left;
}
.indeksSerii ul li .nazwa {
	text-align: center;
	font-size: 12px;
	width: 180px;
	float: left;
}
.indeksSeriiPoziom {
	font-size: 14px;
	font-weight: bold;
}
.indeksSeriiPoziom li a {
	font-weight: normal;
	font-size: 11px;
	padding: 0 0 0 25px !important;
	background: url("/images/gfx/li_szare.gif") no-repeat 12px 5px !important;	
}
	
/* box indeksy */
.boxIndeksy {
	width: 352px;
	height: 33px;
	float: right;
	background: url("/images/gfx/indeksy_srodek.gif") repeat-x;
}
.boxIndeksyLewo {
	width: 5px;
	height: 33px;
	float: left;
	background: url("/images/gfx/indeksy_lewo.gif") no-repeat;
}
.boxIndeksySrodek {
	width: 342px;
	height: 33px;
	float: left;
	background: url("/images/gfx/indeksy_ikona.gif") no-repeat 17px 10px;
}
.boxIndeksyPrawo {
	width: 5px;
	height: 33px;
	float: right;
	background: url("/images/gfx/indeksy_prawo.gif") no-repeat;
}
.boxIndeksy H2 {
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana, Helvetica !important;
	font-weight: bold;
	color: #fff;
	padding: 8px 15px 5px 49px;
	float: left;
}
.boxIndeksy .boxIndeksyTresc {
	float: right;
	font-size: 11px; 
	color: #fff; 
	padding: 9px 34px 0 0;
	text-align: center;
}
.boxIndeksy a {
	font-weight: bold;
	color: #fff;
}

/* box banner w koszyku */
.boxBannerKoszyk {
	float: right;
	text-align: center;
	width: 352px;
	padding-top: 6px;
}

/* menu dolne */
.menuDolne {
	float: left;
	width: 230px;
	padding: 25px 0 25px 20px;
}
.menuDolneKontakt {
	background: url("/images/gfx/dol_separator.gif") no-repeat 0 27px;
	padding: 25px 0 25px 30px;
	width: auto;
}
.menuDolneKontakt img {
	margin: 0 0 -6px 0;
}
.menuDolneKontakt li {
	margin: 12px 0 0 0 !important;
}
.menuDolne h2 {
	color: #a10100;
	font-size: 12px;
	font-weight: bold;
	height: 22px;
	display: inline;
}
.menuDolne ul {
	list-style: none;
	margin: 20px 0 10px 0;
}
.menuDolne ul li {
	margin: 7px 0 0 0;
	padding: 0 0 0 11px;
	background: url("/images/gfx/li_menu_dol.gif") no-repeat 0 6px;
}
.menuDolne ul li a {
	color: #313030;
}
.menuDolne ul li ul {
	margin: 0;
	padding-top: 0;
}
.menuDolne ul li ul li {
	background: url("/images/gfx/menu_dolne_li.gif") no-repeat 0 4px;
	padding: 0 0 0 12px;
}
.menuDolne ul li ul li a {
	font-weight: normal !important;
}
#footer {
	float: left;
	width: 1000px;
	color: #313030;
	padding: 6px 0 14px 0;
}
#footer a {
	color: #313030;	
}
#footer1 {
	float: left;
	padding: 0 20px 6px 20px;
	width: 960px;
	text-align: center;
}
#footer2 {
	float: left;
	width: 960px;
	padding: 0 20px 0 20px;
	text-align: center;
}

/* moje konto */
.mojeKontoNazwa {
	font-size: 13px;
	color: #c30500;
	/*border-bottom: 1px solid #eae9e9;*/
	padding: 18px 0 19px;
	margin: 0;
	font-weight: bold;
}
.mojeKonto {}
.mojeKontoOpcje {
	border: 1px solid #e2e2e2;
	margin: 0 0 4px;
	width: 788px;
	float: left;
}
.mojeKontoOpcje:HOVER {
	background: #f4f4f4;	
}
.mojeKontoTytul {
	padding: 12px 15px 13px 14px;
	float: left;
}
.mojeKontoTytul a {
	padding: 0 0 0 13px;
	font-size: 13px;
	color: #000;
	float: left;
	background: url("/images/gfx/li-konta.gif") no-repeat 0 4px;
	font-weight: bold;
}
.mojeKontoEdytuj, .mojeKontoUsun, .mojeKontoUsunDane {
	float: right;
	margin: 8px 6px;	
	width: 102px;
	height: 24px;
	background: url("/images/gfx/button-zmien-dane.gif") no-repeat;
}
.mojeKontoUsunDane {
	background: url("/images/gfx/button-usun-dane.gif") no-repeat !important;	
}
.mojeKontoUsun {
	background: url("/images/gfx/button-usun-konto2.gif") no-repeat !important;	
}
.mojeKontoTekst {
	padding: 10px 0 0 20px;
	font-weight: bold;
}
.mojeKontoTekst a {
	color: #272727 !important;
	text-align: center;
}
.mojeAdresy {
	margin: 0 0 8px;
	padding: 20px 28px;
	border: 1px solid #dcdcdc;
}
.mojeAdresyLewo {
	float: left;
	width: 282px;
	clear: right;
	padding: 0 30px 0 0;
}
.mojeAdresyLewo h3 {
	font-weight: bold;
	color: #c30500;
	font-size: 13px;
	margin: 0 0 4px;
}
.mojeAdresySzary {color: #7d7c7c;}
.mojeAdresySrodek {
	float: left;
	width: 282px;
	clear: right;
}
.mojeAdresySrodek .daneLewo {
	float: left;
	width: 96px;
	text-align: right;
	padding: 0 9px 2px 0;
	font-size: 12px;
	color: #999;
}
.mojeAdresySrodek .danePrawo {
	float: left;
	font-weight: bold;
	font-size: 12px;
	padding: 0 0 2px 0;
	width: 176px;
}
.mojeAdresySrodek .daneGora {
	text-align: left;
	padding: 0 9px 5px 0;
	font-size: 12px;
	color: #999;
}
.mojeAdresySrodek .daneDol {
	font-weight: bold;
	font-size: 12px;
	padding: 0 0 16px 0;
}
.dodajAdres {
	float: right;
	width: 170px;
	height: 38px;
	background: url("/images/gfx/button-dodaj-kolejny-adres.gif") no-repeat;
}

/* tabs glowne */
.ui-tabs .ui-tabs-hide {
     display: none;
}
#tabs {
	margin: 10px 0 0 0;
}
#tabs a {
	color: #5D970F;
}
#tabs ul.ui-tabs-nav {
	margin: 0 0 0 0;
	padding: 0 0 0 20px;
	height: 1%;
	overflow: hidden;
	background: transparent url(/images/gfx/pasek_tab.gif) no-repeat bottom;
}
#tabs ul.ui-tabs-nav li {
	list-style: none;
	float: left;
	margin: 0 6px 0 0;
}
#tabs ul.ui-tabs-nav li.ui-state-default {
	border-bottom: 1px solid #d5d5d5;
}
#tabs ul.ui-tabs-nav li.ui-tabs-selected {
	border-bottom: 1px solid #f9f9f9;	
}
#tabs ul.ui-tabs-nav li a span.zakladkaLewo {
	background: url("/images/gfx/zakladka_lewo.gif") no-repeat;
	height: 20px;
	width: 4px;
	float: left;
}
#tabs ul li a span.zakladkaSrodek {
	float: left;
	background-color: #97b4d1;
	border-top: 1px solid #64819e;
	padding: 3px 20px 3px 20px;
}
#tabs ul li a span.zakladkaPrawo {
	background: url("/images/gfx/zakladka_prawo.gif") no-repeat;
	height: 20px;
	width: 4px;
	float: left;
}
#tabs ul li a span {
	color: #000;
	display: block;
	cursor: pointer;
	text-decoration: none;
}
#tabs a {
	text-decoration: none;
}
#tabs ul li.ui-state-hover a span.zakladkaLewo {
	background: url("/images/gfx/zakladka_lewo_hov.gif") no-repeat;
	height: 20px;
	width: 4px;
	float: left;
}
#tabs ul li.ui-state-hover a span.zakladkaSrodek {
	float: left;
	background-color: #dde6f0;
	border-top: 1px solid #808a93;
}
#tabs ul li.ui-state-hover a span.zakladkaPrawo {
	background: url("/images/gfx/zakladka_prawo_hov.gif") no-repeat;
	height: 20px;
	width: 4px;
	float: left;
}
#tabs ul li.ui-state-active a span.zakladkaLewo {
	background: url("/images/gfx/zakladka_lewo_sel.gif") no-repeat;
	height: 20px;
	width: 4px;
	float: left;
}
#tabs ul li.ui-state-active a span.zakladkaSrodek {
	background-color: #f9f9f9;
	border-top: 1px solid #d5d5d5;
}
#tabs ul li.ui-state-active a span.zakladkaPrawo {
	background: url("/images/gfx/zakladka_prawo_sel.gif") no-repeat;
	height: 20px;
	width: 4px;
	float: left;
}

/* loga */
#loga {
	text-align: center;
	padding: 18px 0 25px;
	float: left;
	width: 1000px;	
}
#logaTytul {
	font-weight: bold;
	padding: 0 0 13px;	
}
#logaAll {
	height: 30px;
}
#logaRamka {
	float: left;
	display: inline;
	display: none;
}
#logaRamka div {
	float: left;
	height: 29px;
	padding: 0 9px;
}
#logoMtransfer {width: 88px; background: url("/images/gfx/logo_mtransfer.gif") no-repeat center center;}
#logoMulti {width: 79px; background: url("/images/gfx/logo_multi_transfer.gif") no-repeat center center;}
#logoPrzelew24 {width: 65px; background: url("/images/gfx/logo_przelew24.gif") no-repeat center center;}
#logoNordea {width: 100px; background: url("/images/gfx/logo_nordea.gif") no-repeat center center;}
#logoInteligo {width: 35px; background: url("/images/gfx/logo_inteligo.gif") no-repeat center center;}
#logoVisa {width: 63px; background: url("/images/gfx/logo_visa.gif") no-repeat center center;}
#logoMastercard {width: 45px; background: url("/images/gfx/logo_mastercard.gif") no-repeat center center;}
#logoJcb {width: 22px; background: url("/images/gfx/logo_jcb.gif") no-repeat center center;}
#logoNiebieskie {width: 29px; background: url("/images/gfx/logo_niebieskie.gif") no-repeat center center;}
#logo {width: 29px; background: url("/images/gfx/logo_niebieskie.gif") no-repeat center center;}
#logoMillennium {width: 126px; background: url("/images/gfx/logo_bank_millennium.gif") no-repeat center center;}
#logoBank_bgz {width: 81px; background: url("/images/gfx/logo_bank_bgz.gif") no-repeat center center;}
#logoBank_bph {width: 81px; background: url("/images/gfx/logo_bank_bph.gif") no-repeat center center;}
#logoBos {width: 38px; background: url("/images/gfx/logo_bos.gif") no-repeat center center;}
#logoBosbank24 {width: 97px; background: url("/images/gfx/logo_bosbank24.gif") no-repeat center center;}
#logoCiti_handlowy {width: 137px; background: url("/images/gfx/logo_citi_handlowy.gif") no-repeat center center;}
#logoDeutsche_bank {width: 87px; background: url("/images/gfx/logo_deutsche_bank.gif") no-repeat center center;}
#logoDiners {width: 109px; background: url("/images/gfx/logo_diners.gif") no-repeat center center;}
#logoEbgz {width: 73px; background: url("/images/gfx/logo_ebgz.gif") no-repeat center center;}
#logoIng {width: 108px; background: url("/images/gfx/logo_ing.gif") no-repeat center center;}
#logoInvest_bank {width: 63px; background: url("/images/gfx/logo_invest_bank.gif") no-repeat center center;}
#logoKb24 {width: 73px; background: url("/images/gfx/logo_kb24.gif") no-repeat center center;}
#logoKradyt_bank {width: 96px; background: url("/images/gfx/logo_kradyt_bank.gif") no-repeat center center;}
#logoLukas {width: 53px; background: url("/images/gfx/logo_lukas.gif") no-repeat center center;}
#logoMaestro {width: 45px; background: url("/images/gfx/logo_maestro.gif") no-repeat center center;}
#logoPekao24 {width: 95px; background: url("/images/gfx/logo_pekao24.gif") no-repeat center center;}
#logoPko {width: 88px; background: url("/images/gfx/logo_pko.gif") no-repeat center center;}
#logoPko_sa {width: 167px; background: url("/images/gfx/logo_pko_sa.gif") no-repeat center center;}

/* tooltip */
#hintbox {
	border: 1px solid #c7c7c7;
	padding: 4px 11px;
	background: url("/images/gfx/dymek_tlo.png") repeat;
	font-size: 11px;
	position: absolute;
	top: 0;
	width: 100px;
	line-height:18px;
	z-index:100;
	visibility: hidden;
}

/* autocomplete */
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 906;
	width: 100%;
}
.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}
.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px !important;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}
.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}
.ac_odd {
	background-color: #eee;
}
.ac_over {
	background-color: #6d6c6c;
	color: white;
}

/* kolory boksow dzialow */
.one_news_box_page {
	background: url("/images/gfx/box_tlo_biale.gif") repeat-x;
}

.boxGlownyPink .one_news_box_page, .boxGlownyPink .boxGlownySrodek {
	/*background: url("/images/gfx/box_tlo_czerwone.gif") repeat-x !important;*/
	background: url("/images/gfx/box_tlo_czerwone.png") no-repeat !important;
}
.boxBocznyPink .boxBocznySrodek {
	/*background: url("/images/gfx/box_tlo_czerwone.gif") repeat-x 0 -2px !important;*/
	background: url("/images/gfx/box_tlo_czerwone2.png") no-repeat !important;
}
.boxGlownyPink .nav a:hover {
	background-position: left 0;
}
.boxGlownyPink .nav a.activeSlide {
	color: #fff;
	background: url("/images/gfx/zakladki_box.gif") no-repeat left -28px;
}


.boxGlownyGray .one_news_box_page, .boxGlownyGray .boxGlownySrodek {
	/*background: url("/images/gfx/box_tlo_szare.gif") repeat-x !important;*/
	background: url("/images/gfx/box_tlo_szare.png") no-repeat !important;
}
.boxBocznyGray .boxBocznySrodek {
	/*background: url("/images/gfx/box_tlo_szare.gif") repeat-x 0 -2px !important;*/
	background: url("/images/gfx/box_tlo_szare2.png") no-repeat !important;
}
.boxGlownyGray .nav a:hover {
	background-position: left 0;
}
.boxGlownyGray .nav a.activeSlide {
	color: #fff;
	background: url("/images/gfx/zakladki_box.gif") no-repeat left -87px;
}

.boxFacebook {
	margin: 0 0 22px;
	padding: 0;
	float: left;
	width: 1000px;
}
.boxFacebookMini {
	margin: 0 0 12px;
	padding: 0;
	float: left;
	width: 790px;
}