body {
	behavior: url(/css/csshover.htc) !important;
}
a {cursor: pointer !important;}
#hintbox {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/gfx/dymek_tlo.png', sizingMethod='scale');
}
#boxKoszykRozwGoraLewo {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/gfx/koszyk_gora_lewo.png', sizingMethod='crop');
}
#boxKoszykRozwGoraPrawo {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/gfx/koszyk_gora_prawo.png', sizingMethod='crop');
}
#boxKoszykRozwDolLewo {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/gfx/koszyk_dol_lewo.png', sizingMethod='crop');
}
#boxKoszykRozwDolPrawo {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/gfx/koszyk_dol_prawo.png', sizingMethod='crop');
}
.produktBoczny {
	float: none;
}
.boxKontaktTresc a {
	margin: -7px 0 0 0;
}
#slideshow_wrapper {
	left: -30px;
}
#aval {
	margin: 0 !important;
}
.paragraph table {
	border-collapse: expression('separate', cellSpacing = '1px');
}
.boxRealizacjaPrawoZdjecie img {
	display: block;
}
.przyciskSchowek {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/gfx/przycisk_schowek.png', sizingMethod='crop');
}
.przyciskKoszyk {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/gfx/przycisk_koszyk.png', sizingMethod='crop');
}
.produktListaOpcjaBestseller {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/gfx/przycisk_bestseller.png', sizingMethod='crop');
}
.produktListaOpcjaNews {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/gfx/przycisk_nowosci.png', sizingMethod='crop');
}
.registrationForm .formularz {position: relative !important; margin: 0 !important;margin-top: -20px !important;}