
#page404 {
	color: #af0300;
}
#page404 img {
	max-width: 100%;
}
.page404__top {
	text-align: center;
	margin-top: 30px;

}
.page404__top > p {
	font-size: 29px;
}
.page404__content {
	max-width: 620px;
	margin: 48px auto 24px;
}
.page404__content > a {
	float: left;
	font-size: 24px;
	color: #af0300;
}
.page404__search {
	float: right;
	position: relative;
}
.page404__search > form > input#qibox {
	height: 39px;
	line-height: 39px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border: 2px solid #af0300;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	box-sizing: border-box;
	padding: 4px 45px 4px 6px;
	font-size: 14px;
}
.page404__search .page404__search__submit {
	position: absolute;
	width: 45px;
	height: 100%;
	top: 0;
	right: 0;
	z-index: 5;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 4px 0;
}
.page404__search .page404__search__submit input[type="submit"] {
	position: absolute;
	border: 0;
	padding: 0;
	width: 45px;
	height: 32px;
	background-color: transparent;
	background-image: url('/images/gfx/404_loopa.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	cursor: pointer;
}
.page404__book {
	text-align: center;
}
.page404__products-title {
	text-align: center;
	font-size: 20px;
	color: #af0300;
	margin-bottom: 30px;
}
/* products */
.page404__products-container {
	max-width: 900px;
	margin: 0 auto 50px;
}
.page404__products {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
}
.page404__produkt {
	position: relative;
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 auto;
	    -ms-flex: 0 1 auto;
	        flex: 0 1 auto;
	max-width: 180px;
	height: auto;
	margin: 0 10px 20px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border: 1px solid gray;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	padding: 10px;
}
.page404__produkt .produktZdjecia,
.page404__produkt .produktTresc,
.page404__produkt .produktCeny {
	width: 100%;
	float: none;
}
.page404__produkt .produktZdjecia {
	text-align: center;
}

@media screen and (max-width: 600px) {
	.page404__top img {
		width: 200px;
	}
	.page404__top > p {
		font-size: 20px;
	}
	.page404__products {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.page404__produkt {
		width: 180px;
	}
	.page404__products > .clear {
		display: none;
	}
	.page404__content .page404__linkhome,
	.page404__content .page404__search {
		float: none;
		max-width: 240px;
		display: block;
		margin: 0 auto;
	}
	.page404__content .page404__linkhome {
		margin-bottom: 24px;
		text-align: center;
	}
	.page404__content .page404__search {
		
	}
	.page404__content .page404__search #qibox {
		width: 100%;
	}
}