<div class="boxIndeksy">
	<div class="boxIndeksyLewo"></div>
	<div class="boxIndeksySrodek">
		<h2>Indeksy:</h2>
		<div class="boxIndeksyTresc">
			{foreach from=$aBox.items key=i item=par}
			{$par.content}
			{/foreach}
		</div>	
	</div>	
	<div class="boxIndeksyPrawo"></div>	
</div>