<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://w3.org/TR/html4/transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{literal}
<style type="text/css">
	a {
		color: #1D79B8;
		text-decoration: underline;
	}
</style>
{/literal}
</head>
<body style="font-family: Tahoma, Arial, Verdana, Helvetica; padding: 0; margin: 0; font-size: 13px;color: #000;">
	<img src="logoSMARKACZ_mail.png"/><br/>
	{$sContent}
	<hr/>
	{$sFooter}
</body>
</html>