<ul>
{foreach from=$aFiles item=im key=i}
	<li class="{$im.ext}"><a href="{$im.src}" target="_blank">{if !empty($im.description)}{$im.description} ({$im.name} - {$im.size}){else}{$im.name} ({$im.size}){/if}</a></li>
{/foreach}
</ul>