#scaleWrapper {
	position: fixed;
	right:0;
	background: #2C82C9;
	color: white;
	padding:15px;
	min-width: 200px;
	top:10px;
}

#scaleValue {
	font-size: 26px;
	font-weight: bold;
}

#scaleListWrapper {
	margin-top: 15px;
}

.scaleStopDisabled {
	opacity: 0.5;
}

#stopScale {
	width: 100%;
	margin-top: 15px;
}

#blockScale {
	float:left;
}

#blockScaleLabel {
	color:white;
	margin-top: 10px;
	display: block;
}