body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #f9f7f1;
	margin: 0px;
	padding: 0px;
}
.clear {clear: both;height: 0px;font-size: 0px;line-height: 0px;}
/* formularze */
form {
	padding: 0px;
	margin: 0px;
}
.internalLink, .logoutLevel0 {
	color: red;
}
.externalLink, .logoutLevel2 {
	color: blue;
}
.logoutLevel1, .green {
	color: green;
}
.gwiazdka, .red {
	color: red;
}
#send {
	color: #ff0000;
	font-weight: bold;
}
.product_name {
  
}
.product_name a{
  text-align: left!important;
  font-size: 20px!important;
}

/* naglowek czesci roboczej */
#moduleName {
	width: 100%;
	height: 18px;
}
.moduleHeader {
	background-image: url('../gfx/body_header_bg.gif');
	background-repeat: repeat-x;
}
.moduleHeader div {
	margin-left: 5px;
	margin-right: 5px;
	color: #3c3714;
	font-size: 11px;
}
.textRed {
	color: #960000;
	font-size: 11px;
}
.disabled {
	color: #999;
	background-color: #eee;
}

/* lewe menu */
#leftMenu {
	width: 165px;
	height: 100%;
}
.menuTable {
	width: 95%;
	margin: 0px 5px 0px 5px;
}
.menuTableHeader {
	background-color: #a9a593;
  /*height: 29px;*/
}
.menuTableHeaderHov {
	background-color: #736f54;
  /*height: 29px;*/
}
a.menuTableHeaderText {
	display: block;
	width: 100%;
	height: 100%;
	color: #e7e5d5;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
}
a.menuTableHeaderText div {
	margin-left: 5px;
	padding-top: 8px;
  padding-bottom: 8px;
}
.menuRows {
	width: 100%;
}
.menuRow {
	/*height: 29px;*/
	background-color: #FFFFFF;
}
.menuRowTD {
	border-bottom: 1px solid #b9b7a9;
}
.menuRowHov {
	/*height: 29px;*/
	background-color: #d9d5b9;
}
a.menuRowText {
	display: block;
	width: 100%;
	height: 100%;
	color: #3c3714;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	background-image: url('../gfx/menu_arrow.gif');
	background-repeat: no-repeat;
	background-position: 5px 12px;
}
a.menuRowText div {
	padding-left: 12px;
	padding-top: 8px;
  padding-bottom: 8px;
}

/* glowna ramka */
#content {
	width: 100%;
	height: 100%;
}

.userDetailsFormth{
	text-align: left !important;	
}

label {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	cursor: pointer;
}

.brownBg {
	background-color: #736f54;
}

.brownLightBg {
	background-color: #d9d5b9;
}

.yellowBg {
	background-color: #d5d0b0;
}

.message0 {
	font-size: 15px;
	font-weight: bold;
	color: #332d00;
}

.message1 {
	font-size: 15px;
	font-weight: bold;
	color: #94100e;
}

.ViewTooltip{
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.tableHeaderBg {
	display: block;
	padding-left: 10px;
	color: #f3f1e8;
	font-size: 11px;
}

input, select, textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	border: 1px solid #484848;
}
input.fileUpload {
	margin-bottom: 2px;
	width: 304px;
}
textarea.fileUploadDesc {
	width: 275px;
}
input.fileUploadAuthor {
	margin-top: 2px;
	width: 269px;
}
div.photoFormCnt {
	margin-right: 20px;
	float: left;
	display: inline;
}
div.photoCnt {
	margin-top: 4px;
	float: left;
}
div.photoCnt .photo {
	padding: 3px;
	border: 1px solid #D8D6B7;
}
div.existingPhoto, div.existingFile {
	margin-top: 5px;
	width: 304px;
	text-align: right;
}
div.existingPhoto a, div.existingFile a {
	padding: 3px 0 3px 20px;
	color: #94100E;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	background: transparent url(../gfx/icons/insert_image_ico.gif) no-repeat;
}
div.existingPhoto a {
	background: transparent url(../gfx/icons/insert_image_ico.gif) no-repeat;
}
div.existingFile a {
	background: transparent url(../gfx/icons/insert_file_ico.gif) no-repeat;
}
div.existingPhoto a:hover, div.existingFile a:hover {
	color: #000;
}
div.existingPhoto label, div.existingFile label {
	font-weight: normal;
}
div.existingPhotoName {
	margin-top: 3px;
	margin-bottom: 5px;
	color: #94100E;
	font-size: 11px;
}

.button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	padding: 0px 5px 0px 5px;
	background-color: #736f54;
	border: 1px solid #d5d0b0;
}

.loginTable .firstRow {
	border-bottom: 1px solid #a7a06d;
}

.loginTable .otherRows {
	border-top: 1px solid #fefefd;
	border-bottom: 1px solid #a7a06d;
}

.loginTable {
	margin-bottom: 10px;
}

.loginTable .lastRow {
	border-top: 1px solid #fefefd;
}

.loginTable th {
	height: 25px;
	text-align: right;
	padding-right: 5px;
}

ul.formError {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.formError li {
	margin: 0px;
	padding-left: 25px;
	background-image: url('../gfx/strzalka.gif');
	background-repeat: no-repeat;
	background-position: 18px 9px;
}

.errMsg {
	padding: 6px;
	font-size: 10px;
	color: #960000;
	font-weight: bold;
}
.layoutSeparator {
	background-color: #999477;
}
.headerBg {
	background-image: url(../gfx/header_bg.gif);
	vertical-align: bottom;
}
.headerRow {
	text-align: right;
	vertical-align: top;
	padding-right: 10px;
}
.headerInfo {
	float: right;
	padding-bottom: 3px;
	padding-top: 8px;
	color: #2c361a;
	font-size: 10px;
	background-image: url(../gfx/horizontal_spacer_bg.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
.text10 {
	color: #2c361a;
	font-size: 10px;
}
.content {
	vertical-align: top;
	text-align: center;
}
.footerBg {
	background-image: url(../gfx/footer_bg.gif);
}
.logo {
	height: 55px;
	width: 165px;
	border-right: 1px solid #d5d0b0;
}
.logo img {
	margin-top: 10px;
	margin-left: 10px;
}
.version {
	text-align: right;
	height: 21px;
	width: 100%;
}
.version span {
	float: right;
	font-size: 10px;
	color: #000000;
	margin-top: 5px;
	margin-right: 10px;
}

/* style dla widokow */
.tableMargin {
	padding: 20px 10px 10px 10px;
}

/* tabelka z filtrami */
.filtersTable td {
	border-top: 1px solid #f9f7f1;
	padding-right: 2px;
	height: 25px;
	background-color: #E5E3CD;
	text-align: right;
}

/* tabelka z rekordami */
.recordsTable th {
	background-color: #d9d5b9;
	text-align: left;
	height: 20px;
	border-top: 1px solid #f9f7f1;
	text-align: left;
	color: #960000;
	font-size: 11px;
	white-space: nowrap;
/*	padding: 0 18px 0 18px;*/
}

.recordsTable th a {
	color: #960000;
	font-size: 11px;
	text-decoration: none;
}

.recordsTable th a:hover {
	color: #630000;
	font-size: 11px;
	text-decoration: underline;
}

.recordsTable td.message {
	padding: 20px 10px 20px 10px;
	font-weight: bold;
}

.recordsTable tr.row {
	background-color: #ffffff;
}
.recordsTable tr.row:nth-child(odd) { 
  background-color:#EEE; 
}
.recordsTable tr.rowHov {
	background-color: #EFEDE2;
}

.rowSelected {
	background-color: #d9d5b9;
}

.recordsTable td {
	text-align: left;
	vertical-align: top;
	font-size: 11px;
	padding: 4px 0 1px 4px;
	border-bottom: 1px solid #D8D6B7;
  border-left: 1px solid #D8D6B7;
}
.recordsTable td.pg {
	width: 20px;
	padding: 0;
	text-align: right;
}
.recordsTable td.pg img {
	padding: 0px;
	margin: 0px;
}
.recordsTable td.check {
	width: 20px;
	padding: 0 0 0 5px;
}
.recordsTable td a {
	color: #000000;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
}
.recordsTable td a.link {
	display: block;
	width: 100%;
}
.recordsTable td a.normal {
	font-weight: normal;
	text-decoration: underline;
}
.recordsTable td a.normal:hover {
	font-weight: normal;
	text-decoration: none;
}
.recordsTable td.page, .recordsTable td.pageName {
	text-align: left;
	vertical-align: top;
	border-bottom: none;
	padding: 4px 0 0 4px;
}
.recordsTable td.pageName {
	padding-left: 20px;
}
.recordsTable td.lastPage {
	height: 10px;
	background-color: #ffffff;
	border-bottom: 1px solid #D8D6B7;
}
.recordsTable td a.sub {
	color: #000000;
	font-weight: normal;
	font-size: 11px;
	text-decoration: none;
}
.recordsTable td.sort {
	border-bottom: 1px solid #D8D6B7;
	height: 20px;
	padding-left: 10px;
	text-align: left;
}
.recordsTable td.sort span {
	display: block;
	font-size: 11px;
	margin: 3px;
	font-size: 11px;
	font-weight: bold;
}

/* tabelka stopki rekordow */
.footerTable td.first {
	border-top: 1px solid #f9f7f1;
	padding-left: 5px;
	height: 25px;
	background-color: #E5E3CD;
	text-align: left;
	color: #5F5B45;
	font-size: 11px;	
}
.footerTable td.second {
	border-top: 1px solid #f9f7f1;
	padding-right: 2px;
	height: 25px;
	background-color: #E5E3CD;
	text-align: right;
}
.footerTable td a {
	color: #5F5B45;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
}
.footerTable td a:hover {
	color: #000000;
}
.chceckboxesCountInfo {
	color: #5F5B45;
	font-size: 13px!important;
	font-weight: bold;
}

/* tabelka Pagera */
.pagerTable td.first {
	height: 25px;
	padding-left: 10px;
	color: #747358;
	font-size: 10px;
}

.pagerTable td.second {
	height: 25px;
	padding-right: 10px;
	color: #747358;
	font-size: 10px;
	text-align: right;
}

.pagerTable td span.currentPage {
	font-weight: bold;
	color: #747358;
	font-size: 10px;
}

.pagerTable td a.page {
	color: #747358;
	font-size: 10px;
	text-decoration: none;
}

.pagerTable td a.page:hover {
	text-decoration: underline;
}

/* style dla formularzy */
.checkBoxList, .radiosList {
	padding: 0;
	margin: 0;
	list-style: none;
}
.checkBoxList li, .radiosList li {
	padding: 0;
	margin: 0;
}
ul.list {
	padding: 0;
	margin: 0 15px 0 0;
	list-style: none;
	float: left;
}
ul.list li {
	padding: 2px 0 2px 0;
}
ul.list li label {
	display: block;
	margin: 3px 2px 0 0;
}

.formTableContainer {
	padding: 20px 10px 20px 10px;
}

.formTable tr {
	background-color: #ffffff;
}

.formTable th {
	height: 20px;
	text-align: right;
	padding: 8px 5px 5px 5px;
	vertical-align: top;
	border-bottom: 1px solid #D8D6B7;
}

.formTable th.merged {
	height: 20px;
	text-align: left;
	padding: 5px 5px 5px 165px;
	background-color: #d9d5b9;
	border-top: 1px solid #f9f7f1;
	border-bottom: 1px solid #736f54;
	font-size: 11px;
	color: #960000;
}

.formTable th.bigMerged {
	height: 20px;
	text-align: left;
	padding: 5px 5px 5px 165px;
	background-color: #d9d5b9;
	border-top: 1px solid #f9f7f1;
	border-bottom: 1px solid #736f54;
	font-size: 2em;
	color: #960000;
}

.formTable th.mergedLight {
	height: 16px;
	text-align: left;
	border-top: 1px solid #f9f7f1;
	border-bottom: 1px solid #736f54;
	font-size: 11px;
	color: #960000;
}

.formTable th.mergedLight label {
	color: #363321;
}

.formTable th.mergedLight2 {
	height: 12px;
	text-align: left;
	border-top: 1px solid #f9f7f1;
	border-bottom: 1px solid #736f54;
	font-size: 10px;
	font-weight: normal;
	color: #960000;
}

.formTable td {
	padding: 5px;
	text-align: left;
	font-size: 10px;
	border-bottom: 1px solid #D8D6B7;
}
.formTable td.bigger {
	padding-top: 4px;
	font-size: 11px;
}
.formTable td.highlighted {
	padding-top: 4px;
	font-size: 11px;
	font-weight: bold;
	color: #960000;
}
.editable_cell {
	cursor: pointer;
  font-size: 12px!important;
  font-weight: bold;
}
.active_cell{
  font-size: 12px!important;
  font-weight: bold;
}
div.issueCover {
	margin: 5px 0px 5px 95px;
}
div.issueCover a {
	font-weight: bold;
	color: #000;
	text-decoration: none;
}
.formTable td.redText {
	font-size: 11px;
	font-weight: bold;
	color: #94100e;
}
.stockInfo th {
  text-align: center!important;
}
div.stockInfo table {
  min-width: 280px;
}
div.stockInfo table tbody tr td{
  /*padding: 5px 10px;*/
}
tr.bold td {
  font-weight: bold;
}
td.bold {
	padding: 8px 5px 5px 5px;
	font-size: 11px;
	font-weight: bold;
}
td.bold a {
	color: #000;
	text-decoration: underline;
}
td.bold a:hover {
	text-decoration: none;
}
th.noBold label {
	font-weight: normal;
	cursor: auto;
}

.formTable .viewHeaderTable th {
	text-align: left;
	padding: 2;
	text-align: left;
	height: 20px;
}
.formTable .viewHeaderTable td {
	border: none;
}
.formTable .viewHeaderTable .recordsTable td {
	text-align: left;
	vertical-align: top;
	font-size: 11px;
	padding: 5px 3px 5px 3px;
	border-bottom: 1px solid #D8D6B7;
  border-left: 1px solid #D8D6B7;
}

/* tree view table */
.treeViewTable {
	width: 100%;
	border: none;
	line-height: 19px;
}
.treeViewTable td {
	border: none;
	padding: 0;
}
.treeViewTable td.icoTop {
	width: 19px;
	height: 6px;
}
.treeViewTable td.icoMiddle, .treeViewTable td.icoNormal,
.treeViewTable td.icoBlank, .treeViewTable td.icoEnd,
.treeViewTable td.icoDir, .treeViewTable td.icoDoc,
.treeViewTable td.icoExpDir {
	width: 19px;
	height: 20px;
	background-color: #fff;
}
.treeViewTable td.icoMiddle {
	background-image: url(../gfx/tree/dots_middle.gif);
	background-repeat: repeat-y;
}
.treeViewTable td.icoNormal, .treeViewTable td.icoExpDir, .treeViewTable td.icoMiddle {
	background-image: url(../gfx/tree/dots.gif);
	background-repeat: repeat-y;
}
.treeViewTable td.icoEnd {
	background-image: url(../gfx/tree/dots_bottom.gif);
	background-repeat: no-repeat;
}
.treeViewTable td.menu {
	font-weight: bold;
	color: #960000;
}
.treeViewTable td.type {
	width: 300px;
}
.treeViewTable td.publish{
	padding-left: 5px;
	width: 70px;
}
.treeViewTable td.actions {
	padding-top: 2px;
	width: 165px;
	text-align: right;
}
.treeViewTable td.checkbox {
	width: 25px;
}
.treeViewTable td.header {
	padding-left: 5px;
	font-weight: bold;
	font-size: 11px;
	color: #960000;
}
.treeViewTable tr.row {
	background-color: #ffffff;
}

.treeViewTable tr.rowHov {
	background-color: #EFEDE2;
}

/* style dla listy widoku sortowania */
#sortList {
	margin: 0;
	padding: 0;
	list-style: none;
}
#sortList li {
	padding: 4px 0 4px 18px;
	font-size: 11px;
	font-weight: bold;
	background-color: #fff;
	border-bottom: 1px solid #d8d6b7;
  cursor: move;
}

div.pollBar {
	margin-top: 3px;
	background-color: #960000;
	height: 3px;
}
a.showLink, a.hideLink {
	display: block;
	padding-right: 18px;
	color: #000;
	text-decoration: none;
}
a.showLink:hover, a.hideLink:hover {
	text-decoration: underline;
}
a.showLink {
	background: transparent url(../gfx/arrows_up_down.gif) no-repeat 48px -10px;
}
a.hideLink {
	background: transparent url(../gfx/arrows_up_down.gif) no-repeat 45px 5px;
}
/* Ikony źródeł importu */
.profitj_ico, .profitn_ico, .azymut_ico, .abe_ico, .helion_ico {
	height: 20px;
	float: left;
	margin: 0 8px;
	padding: 9px 0 0;
	color: #000;
	text-decoration: none;
}
.profitj_ico:HOVER, .profitn_ico:HOVER, .azymut_ico:HOVER, .abe_ico:HOVER, .helion_ico:HOVER {
	color: #cb0000;
	text-decoration: underline;
}
.profitj_ico span, .profitn_ico span, .azymut_ico span, .abe_ico span, .helion_ico span {
	padding: 3px 0 0;
	display: block;
}
.profitj_ico{
	background: transparent url(../gfx/sources/profitj.png) no-repeat;
	padding: 0 0 0 46px;
}
.profitn_ico{
	background: transparent url(../gfx/sources/profitn.png) no-repeat;	
	padding: 0 0 0 46px;
}
.azymut_ico{
	background: transparent url(../gfx/sources/azymut.png) no-repeat;
	padding: 0 0 0 24px;
}
.abe_ico{
	background: transparent url(../gfx/sources/abe.png) no-repeat;
	padding: 0 0 0 39px;
}
.helion_ico{
	background: transparent url(../gfx/sources/helion.png) no-repeat;
	padding: 0 0 0 26px;
}

/* Warstwa zawierajaca komunikaty AJAX */
#ajaxMsg {
	display: none;
	padding: 10px 0;
}
#ajaxMsg span.msg0, #ajaxMsg span.msg1, #ajaxMsg span.msg2 {
	font-weight: bold;
	color: #382E03;
}
#ajaxMsg span.msg0 {
	color: #382E03;
}
#ajaxMsg span.msg1 {
	color: #1D8324;
}
#ajaxMsg span.msg2 {
	color: #94100e;
}

/* checkbox tree  */
/*
ul.tree, ul.tree * {
	list-style-type: none;
	margin: 0;
	padding: 0 0 5px 0;
}
ul.tree img.arrow {
	padding: 2px 0 0 0;
	border: 0;
	width: 20px;
}
ul.tree li {
	padding: 4px 0 0 0;
}
ul.tree li ul {
	padding: 0 0 0 20px;
	margin: 0;
}
ul.tree label {
	cursor: pointer;
	font-weight: bold;
	padding: 2px 0;
}
ul.tree label.hover {
	color: red;
}
p {
	margin: 5px 15px;
}
ul {
	margin-top: 5px;
	margin-bottom: 5px;
	list-style: none;
}
ul.tree li {
	clear: both;
}
ul.tree li label {
	padding: 4px 0 0 0;
	display: block;	
}
ul.tree li .arrow {
	width: 20px;
	height: 20px;
	padding: 0;
	margin: 0;
	cursor: pointer;
	float: left;
	background: transparent no-repeat 0 4px;
}
ul.tree li .collapsed {
	background-image: url(../gfx/collapsed.gif);
}
ul.tree li .expanded {
	background-image: url(../gfx/expanded.gif);
}

ul.tree li .checkbox {
	width: 20px;
	height: 18px;
	padding: 0;
	margin: 0;
	cursor: pointer;
	float: left;
	background: url(../gfx/check0.gif) no-repeat 0 0px;
}
ul.tree li .checked {
	background-image: url(../gfx/check2.gif);
	
}
ul.tree li .half_checked {
	background-image: url(../gfx/check1.gif);
}
*/
/* autocomplete */
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}
.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}
.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}
.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}
.ac_odd {
	background-color: #eee;
}
.ac_over {
	background-color: #0A246A;
	color: white;
}

.modified {
	background-color: #A0A567;
}

.last_modified {
	color: #960000 !important; 
}

/******** treview  *************/
.treeview, .treeview ul { 
	padding: 0;
	margin: 0;
	list-style: none;
}
.treeview {
	padding: 15px;	
}
.treeview ul {
	
	margin-top: 4px;
}
.treeview .hitarea {
	background: url(../gfx/treeview-default.gif) -64px -25px no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}
/* fix for IE6 */
* html .hitarea {
	display: inline;
	float:none;
}

.treeview li { 
	margin: 0;
	padding: 3px 0pt 3px 16px;
}
.treeview li a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
	padding: 0 0 0 2px;
}
.treeview a.selected {
	background-color: #eee;
}
.treeview li ul li a {
	font-weight: normal;	
}
.treeview li ul li ul li a {
	
}

#treecontrol { margin: 1em 0; display: none; }

.treeview .hover { color: red; cursor: pointer; }

.treeview li { background: #f9f7f1 url(../gfx/treeview-default-line.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }

.treeview .expandable-hitarea { background-position: -80px -3px; }

.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(../gfx/treeview-default.gif); }  
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }

.treeview-red li { background-image: url(../gfx/treeview-red-line.gif); }
.treeview-red .hitarea, .treeview-red li.lastCollapsable, .treeview-red li.lastExpandable { background-image: url(../gfx/treeview-red.gif); } 

.treeview-black li { background-image: url(../gfx/treeview-black-line.gif); }
.treeview-black .hitarea, .treeview-black li.lastCollapsable, .treeview-black li.lastExpandable { background-image: url(../gfx/treeview-black.gif); }  

.treeview-gray li { background-image: url(../gfx/treeview-gray-line.gif); }
.treeview-gray .hitarea, .treeview-gray li.lastCollapsable, .treeview-gray li.lastExpandable { background-image: url(../gfx/treeview-gray.gif); } 

.treeview-famfamfam li { background-image: url(../gfx/treeview-famfamfam-line.gif); }
.treeview-famfamfam .hitarea, .treeview-famfamfam li.lastCollapsable, .treeview-famfamfam li.lastExpandable { background-image: url(../gfx/treeview-famfamfam.gif); } 


.filetree li { padding: 3px 0 2px 16px; }
.filetree span.folder, .filetree span.file { padding: 1px 0 1px 16px; display: block; }
.filetree span.folder { background: url(../gfx/folder.gif) 0 0 no-repeat; }
.filetree li.expandable span.folder { background: url(../gfx/folder-closed.gif) 0 0 no-repeat; }
.filetree span.file { background: url(../gfx/file.gif) 0 0 no-repeat; }


/* global */
#cluetip-close img {
  border: 0;
}
#cluetip-title {
  overflow: hidden;
}
#cluetip-title #cluetip-close {
  float: right;
  position: relative;
}
#cluetip-waitimage {
  width: 43px;
  height: 11px;
  position: absolute;
  background-image: url(wait.gif);
}
.cluetip-arrows {
  display: none;
  position: absolute;
  top: 0;
  left: -11px;
  height: 22px;
  width: 11px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
#cluetip-extra {
  display: none;
}
/***************************************
   =cluetipClass: 'default' 
-------------------------------------- */

.cluetip-default {
  background-color: #fff;
}
.cluetip-default #cluetip-outer {
  position: relative;
  margin: 0;
  background-color: #fff;
}
.cluetip-default h3#cluetip-title {
  margin: 0 0 5px;
  padding: 8px 10px 4px;
  font-size: 1.1em;
  font-weight: normal;
  background-color: #fff;
  color: #fff;
}
.cluetip-default #cluetip-title a {
  color: #d9d9c2;
  font-size: 0.95em;
}  
.cluetip-default #cluetip-inner {
  padding: 10px;
}
.cluetip-default div#cluetip-close { 
  text-align: right;
  margin: 0 5px 5px;
  color: #900;
}

/* default arrows */

.clue-right-default .cluetip-arrows {
  background-image: url(images/darrowleft.gif);
}
.clue-left-default .cluetip-arrows {
  background-image: url(images/darrowright.gif);
  left: 100%;
  margin-right: -11px;
}
.clue-top-default .cluetip-arrows {
  background-image: url(images/darrowdown.gif);
  top: 100%;
  left: 50%;
  margin-left: -11px;
  height: 11px;
  width: 22px;  
}  
.clue-bottom-default .cluetip-arrows {
  background-image: url(images/darrowup.gif);
  top: -11px;
  left: 50%;
  margin-left: -11px;
  height: 11px;
  width: 22px;
}

/***************************************
   =cluetipClass: 'jtip'
-------------------------------------- */
.cluetip-jtip {
  background-color: transparent;
}
.cluetip-jtip #cluetip-outer {
  border: 2px solid #ccc;
  position: relative;
  background-color: #fff;
}

.cluetip-jtip h3#cluetip-title {
  margin: 0 0 5px;
  padding: 2px 5px;
  font-size: 16px;
  font-weight: normal;
  background-color: #ccc;
  color: #333;
}

.cluetip-jtip #cluetip-inner {
  padding: 0 5px 5px;
  display: inline-block;
}
.cluetip-jtip div#cluetip-close { 
  text-align: right;
  margin: 0 5px 5px;
  color: #900;
}

/* jtip arrows */

.clue-right-jtip .cluetip-arrows {
  background-image: url(images/arrowleft.gif);
}
.clue-left-jtip .cluetip-arrows {
  background-image: url(images/arrowright.gif);
  left: 100%;
  margin-right: -11px;
}
.clue-top-jtip .cluetip-arrows {
  background-image: url(images/arrowdown.gif);
  top: 100%;
  left: 50%;
  margin-left: -11px;
  height: 11px;
  width: 22px;  
}  
.clue-bottom-jtip .cluetip-arrows {
  background-image: url(images/arrowup.gif);
  top: -11px;
  left: 50%;
  margin-left: -11px;
  height: 11px;
  width: 22px;
}

/***************************************
   =cluetipClass: 'rounded'
-------------------------------------- */

.cluetip-rounded {
  background: transparent url(images/bl.gif) no-repeat 0 100%;
  margin-top: 10px;
  margin-left: 12px;
}

.cluetip-rounded #cluetip-outer {
  background: transparent url(images/tl.gif) no-repeat 0 0;
  margin-top: -12px;
}

.cluetip-rounded #cluetip-title {
  background-color: transparent;
  padding: 12px 12px 0;
  margin: 0 -12px 0 0;
  position: relative;
}
.cluetip-rounded #cluetip-extra {
  position: absolute;
  display: block;
  background: transparent url(images/tr.gif) no-repeat 100% 0;
  top: 0;
  right: 0;
  width: 12px;
  height: 30px;
  margin: -12px -12px 0 0;
}
.cluetip-rounded #cluetip-inner {
  background: url(images/br.gif) no-repeat 100% 100%;
  padding: 5px 12px 12px;
  margin: -18px -12px 0 0;
  position: relative;
}

.cluetip-rounded div#cluetip-close { 
  text-align: right;
  margin: 0 5px 5px;
  color: #009;
  background: transparent;
}
.cluetip-rounded div#cluetip-close a {
  color: #777;
}

/* rounded arrows */

.clue-right-rounded .cluetip-arrows {
  background-image: url(images/rarrowleft.gif);
}
.clue-left-rounded .cluetip-arrows {
  background-image: url(images/rarrowright.gif);
  left: 100%;
  margin-left: 12px;
}
.clue-top-rounded .cluetip-arrows {
  background-image: url(images/rarrowdown.gif);
  top: 100%;
  left: 50%;
  margin-left: -11px;
  height: 11px;
  width: 22px;  
}  
.clue-bottom-rounded .cluetip-arrows {
  background-image: url(images/rarrowup.gif);
  top: -23px;
  left: 50%;
  margin-left: -11px;
  height: 11px;
  width: 22px;
}



/* stupid IE6 HasLayout hack */
.cluetip-rounded #cluetip-title,
.cluetip-rounded #cluetip-inner {
  zoom: 1;
}

.point_of_receipt {
	width: 200px;
}
.it_stock{
	padding: 2px 4px 2px 4px;
	border: none;
	border-top: 1px solid #cfcfcf;
	background-color: #fcf2f2;
	font-size: 10px !important;
}
.stock_available{
  font-size: 11px!important;
  font-weight: bold;
}
.stockInfo tbody{
	background-color: #fff;
}

.it_out{
	padding: 2px 10px 2px 10px;
	background-color: #f3f3f3;
}
.center_text {
	text-align: center !important;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }



/* tabelka z rekordami */
.statsTable th {
	background-color: #d9d5b9;
	text-align: left;
	height: 20px;
	border-top: 1px solid #f9f7f1;
	text-align: left;
	color: #960000;
	font-size: 14px;
	white-space: nowrap;
	padding: 6px 10px;
}

.statsTable th a {
	color: #960000;
	font-size: 14px;
	text-decoration: none;
}

.statsTable th a:hover {
	color: #630000;
	font-size: 14px;
	text-decoration: underline;
}

.statsTable td.message {
	padding: 20px 10px 20px 10px;
	font-weight: bold;
}

.statsTable tr.row {
	background-color: #ffffff;
}

.statsTable tr.rowHov {
	background-color: #EFEDE2;
}

.rowSelected {
	background-color: #d9d5b9;
}

.statsTable td {
	text-align: left;
	vertical-align: top;
	font-size: 16px;
	padding: 6px 10px;
	border-bottom: 1px solid #D8D6B7;
  border-left: 1px solid #D8D6B7;
}
.statsTable td.pg {
	width: 20px;
	padding: 0;
	text-align: right;
}
.statsTable td.pg img {
	padding: 0px;
	margin: 0px;
}
.statsTable td.check {
	width: 20px;
	padding: 0 0 0 5px;
}
.statsTable td a {
	color: #000000;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
}
.statsTable td a.link {
	display: block;
	width: 100%;
}
.statsTable td a.normal {
	font-weight: normal;
	text-decoration: underline;
}
.statsTable td a.normal:hover {
	font-weight: normal;
	text-decoration: none;
}
.statsTable td.page, .statsTable td.pageName {
	text-align: left;
	vertical-align: top;
	border-bottom: none;
	padding: 4px 0 0 4px;
}
.statsTable td.pageName {
	padding-left: 20px;
}
.statsTable td.lastPage {
	height: 10px;
	background-color: #ffffff;
	border-bottom: 1px solid #D8D6B7;
}
.statsTable td a.sub {
	color: #000000;
	font-weight: normal;
	font-size: 11px;
	text-decoration: none;
}
.statsTable td.sort {
	border-bottom: 1px solid #D8D6B7;
	height: 20px;
	padding-left: 10px;
	text-align: left;
}
.statsTable td.sort span {
	display: block;
	font-size: 11px;
	margin: 3px;
	font-size: 11px;
	font-weight: bold;
}

/* SORTER */
#number_cont {
  float: left; width: 84%; border-right: 1px solid grey;
}
.number_cont{
  float: left; width: 50%; text-align: center;
}
.number_cont_transport{
  float: left; width: 30%; text-align: center;
}
#main_image {
  max-height: 450px; max-width: 300px;
}
#main_name {
  font-size: 20px;
}
#main_isbn{
  color: grey;
}
#main_desc{
  color: grey; font-size: 14px;
}
#not_scanned_sc{
  text-align: center;
}
.cont_main_shelf_number{
  text-align: left; float: right; width: 50%;
}
.list_scanned_items{
  font-size: 12px; text-align: center; float: left; width: 15%;
}
.list_scanned_item{
  border-bottom: solid 1px grey; padding: 0;
}
.sc_image{
  max-height: 130px; max-width: 80px;
}
.sc_shelf{
  color: #51a351; font-size: 25px;
}
.sc_name{
  font-size: 12px;
}
.sc_desc{
  font-size: 10px; color: grey;
}
.sc_isbn{
  font-size: 14px; color: grey;
}
.sc_quantity {
  color: red; font-size: 18px;
}
#main_quantity, .sc_sp_quantity, #main_weight{
  display: none;
}
#main_quantity span {
  color: red; font-size: 66px;
}
#main_weight span{
  font-size: 46px;
}
#left_images_books{
  float: left; 
  display: none;
  border-right: 1px solid #000;
}
#left_images_books img{
  padding: 15px;
  border-bottom: 1px solid grey;
}

#collect_products .cont_main_shelf_number{
  font-family: monospace;
  font-size: 45px;
  width: 50%;
  float: left;
}
#main_quantity_current_item {
  font-size: 150px;
  color: #009;
  width: 120px;
  float: left;
  padding-top: 50px;
}
.main_profit_g_act_stock {
	font-size: 150px;
	color: #998500;
	width: 120px;
	float: left;
	padding-top: 50px;
}
#get_weight {
  text-align: left;
  color: red;
  font-size: 40px;
  float: left;
}
input[type="text"]:focus, textarea:focus{
  background-color: #DADADA;
  outline: 2px solid #000;
}
#serwis{
  font-size: 90px;
  color: darkgoldenrod;
}
#serwis_profit24{
  font-size: 90px;
  color:#630000;
}
#serwis_np{
  font-size: 90px;
  color:#1D8324;
}
#serwis_it{
  font-size: 90px;
  color:#faa732;
}

#magazine_remarks_sorter{
  font-size: 90px;
  color:#960000;
}

#personal_reciption{
  font-size: 80px;
  color: red;
}
#keyboard {
  font-size: 40px;
}
#keyboard td{
  text-align: center;
  background-color:#cccccc;
}
#keyboard a{
  display: block;
  text-align: center;
  padding: 10px;
  width: 50px;
  height: 40px;
  font-size: 30px;
  text-decoration: none;
  border: 1px solid #000;
}
#products_recipient_containers, #products_recipient_containers button {
  font-size: 22px;
}
#products_recipient_containers button {
  margin: 20px 40px;
}
#products_recipient_containers button {
  padding: 20px;
}
#products_recipient_containers #recipient_detail{
  right: 0;
  top: 0;
  background:#ccc;
  padding: 20px;
  float: right;
  margin-top: -10px;
}
#products_recipient_containers #recipient_detail input{
  margin: 5px;
  padding: 5px;
  font-size: 22px;
  text-align: center;
}
#products_recipient_containers #action_close_recipient{
  background-color:orangered;
  float: left;
}
#products_recipient_containers .recipient_detail_selected, #products_recipient_containers .recipient_detail_selected:focus {
  border: 2px dotted orangered;
  background: #fff;
}
#products_recipient_containers .recipient_detail_unselected, #products_recipient_containers .recipient_detail_unselected:focus {
  border: 2px dotted #000;
  background: grey;
}
#products_recipient_containers #main_product_details {
  display: none;
  margin: 40px;
  float: left;
  width: 70%;
}
#products_recipient_containers #main_product_name{
  font-size: 22px;
  padding: 5px;
}
#products_recipient_containers #main_product_ean_13, #products_recipient_containers #main_product_publisher, #products_recipient_containers #main_product_authors{
  font-size: 18px;
  color: grey;
  padding: 5px;
}
#products_recipient_containers #products_history{
  display: none;
  border: 1px solid #000;
  width: 20%;
  float: right;
  font-size: 15px;
  /*margin-top: 90px;*/
}
#products_recipient_containers #products_history > div{
  border-bottom: 1px solid #000;
  margin-top: 15px;
}
#products_recipient_containers #products_history .product_ean_13, .product_publisher, .product_authors,  .product_container_id{
  color: grey;
  margin-top: 12px;
}
#products_recipient_containers #products_history .product_cover{
  width:60px;
}
#products_recipient_containers #products_history .product_defect{
  color: black;
  font-weight: bold;
  background: grey;
  display: none;
}

.ui-autocomplete {
  max-height: 30vw;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
.finanse_bank_accounts_balances{
  font-size: 1.2em; 
}
.finanse_bank_accounts_balances tr td, .finanse_bank_accounts_balances tr th{
  border: 1px solid #000;
  padding: 20px;
}

#tail-menu {
	text-align:left;
	list-style-type: none;
}

#tail-menu li {
	display: table;
	width: 180px;
	height:100px;
	background-color:#a9a593;
	color:#960000;
	padding:8px;
	margin:5px;
	border: 2px solid #ccc;
	cursor:pointer;
	float:left;
	font-size: 1.2em;
	word-break: break-all;
	text-align: center;
	text-shadow: 1px 1px 6px #fff;
}

#tail-menu li a {
	display:table-cell;
	vertical-align: middle;
}

.header_tab {
	height: 40px;
	width: 180px;
	cursor:pointer;
}

.tab_active span{
	color: #960000;
}

.loc-style1 {
	 color:black !important;
}

.loc-style2 {
	color:red !important;
}

.loc-style3 {
	color:black !important;
}

.loc-style4 {
	color:red !important;
}

.loc-style5 {
	color:black !important;
}

.loc-separator {
	color: black !important;
	/*display: inline-block;*/
	font-weight: normal;
	height: 24px !important;
	width: 4px;
	margin:0 1px;
}

.loc-wrapper {
	display: -webkit-inline-box !important;
}

.loc-element {
	height:100%;
}

.list_scanned_item .loc-element {
	font-size: 18px !important;
}

.scanTable td{
    font-size: 15px;
    text-align: center;
}
.scanTable th{
    font-size: 15px;
    text-align: center;
}
.fixed-couter{
	position:fixed;
	right: 0;
	padding:30px;
	background: #d4d4d4;
	top: 50pt;
}
#collecting_high{
	margin: 30px;
	border-top: 2px solid grey;
}

#collecting_high .image{
	display: block;
	padding:10px;
}
#collecting_high .image .dest_image{
	max-width: 50%;
	margin: auto;
}
#collecting_high .location-style{
	font-weight: bold;
	font-size: 20pt;
	display: block;
}
#collecting_high .ean_13{
	font-weight: bold;
	font-size: 16pt;
	display: block;
}
#collecting_high .quantity{
	font-weight: bold;
	font-size: 22pt;
	color: orangered;
}
.fixed-couter #search_isbn{
	font-size: 22pt;
	background: #ffff;
}

#orders input[type='checkbox'] {
	/*-webkit-appearance:none;*/
	width:18px;
	height:18px;
	background:white;
	border-radius:5px;
	border:2px solid #555;
	vertical-align:-4px;
}
#orders input[type='checkbox']:checked {
	background: #abd;
}

#filters_search_by {
	font-size: 16px;
}

#filters_search_by label {
	font-size: 16px;
}

.tabs-header {
	margin-bottom: 8px;
}

.tab-title {
	display: inline-block;
	padding: 5px;
	background-color: #736f54;
	color: #e7e5d5;
}

.tab-title:hover {
	cursor: pointer;
}

.tab-title.active {
	background-color: #a9a593;

}

.tab:not(.active) {
	display: none;
}


.tab-row {
	margin-top: 10px;
}

.tab-row .tab-row-header {
	font-size: 11px;
	font-weight: bold;
	padding: 8px 5px 5px 5px;
}

.formTable.sc_confirm_items input[type="checkbox"] {
	width:30px;
	height:30px;
	margin:10px 5px;
}