<div class="mojeKontoNazwa" style="margin: 0;">Czy na pewno chesz całkowicie usunąć konto?</div>	
<div class="clear"></div>
<form action="{$aModule.delete_account_link}" method="POST" style="float: right;margin: 20px 0 0;">
	<input type="hidden" name="delete_confirmed" value="1" />
	<input type="image" src="/images/gfx/button-usun-konto.gif" value="Usuń konto" />
</form>
	
<div class="buttonLine">
	<a class="left" href="{$aModule.edit_mainpage_link}" style="background: url('/images/gfx/button-wroc-do-swoich-danych.gif'); width: 206px; height: 33px;" tabindex="9"></a>
	<div class="clear"></div>
</div>