<form action="{$aModule.dotpay_url}" method="post" name="dotpay">
	{foreach from=$aModule.dotpay item=inp key=na}
		<input type="hidden" name="{$na}" value="{$inp}" />
	{/foreach}
	<div style="padding: 0; margin: 0; text-align: center;">
		<input type="image" name="send" src="/images/gfx/dotpay_button.jpg" />
	</div>
</form>