<div class="mojeKonto">
	{assign var='liczba' value='1'}
	{foreach from=$aModule.buttons key=i item=aButton name=tab}
	<div class="mojeKontoOpcje" style="{if $liczba mod 2 eq '0'} margin-right: 0;{/if}">
		<div id="{$i}">
			<div class="mojeKontoTytul">{$aButton.label}</div>	
			{*<div class="mojeKontoTekst">{$aButton.info}</div>*}
			<div class="mojeKontoTekst">
				<a class="edytuj" href="{$aButton.link}">{$aButton.info}</a>
			</div>
		</div>	
	</div>
	{assign var='liczba' value=$liczba+1}
	{/foreach}
</div>