<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://w3.org/TR/html4/transitional.dtd">
<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body style="font-family: Arial;">
{$sContent}
<table width="100%">
  <tr>
    <td style="text-align: center; font-size: 11px;" align="center">
      {$sUnsubscribe}
    </td>
  </tr>
</table>
</body>
</html>