<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{$sLang}">
<head>
<title>{$aPage.title}</title>
<meta http-equiv="Content-Type" content="text/html; charset={$sCharset}" />
<base href="{$sBase}" />
<link href="css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
{$sContent}
</body>
</html>