<ul style="text-align: left">
    <li style="color:red">Zakładki nie działają dla smarkacza</li>
    <li style="color:red">Tylko produkty które są w zakładce VIP dodawane są co godzinę do walki na najwyższym priorytecie</li>
    <li style="color:red">Po usunięciu elementu z każdej zakładki cenniki z wszystkich sklepow są usuwane</li>
</ul>
<br />
<table>
    <tr>
        {foreach from = $menu key=k item=v}
            <td onclick="window.top.frames.content.window.location.href = 'admin.php?frame=main&module_id=26&module=m_oferta_produktowa&action=ceneo_tabs&type={$v.type}'"
                class="brownBg header_tab {if ($current == $v.type)}tab_active{/if}">
            <span class="tableHeaderBg">
                <strong>{$v.name}</strong>
            </span>
            </td>
        {/foreach}
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
</table>
{$list}

{if $type != 3 }
<table>
    <tr>
        <td>
            <input id="cancel" type="submit" style="float:left; margin-left:10px;" onclick="openSearchWindow(); return false;" value="Dodaj produkty" name="cancel">
        </td>
    </tr>
</table>
{/if}

{if $type == 4 }
    {literal}
        <script type="text/javascript">
            $(document).ready(function(){

                var form = $('form');

                form.append('<input type="submit" style="float:left; margin-left:10px;" value="Zapis zmiany" name="save_priorities">')


                $('.site_changer').on('change', function(){

                    $($(this)).next('ul').find('input').removeAttr('readonly');

                    var thisValue = $(this).val();

//                    console.log($($(this)).attr('style'));
//                    console.log($($(this)).next().attr('style'));
                    var elem = $($(this)).next('ul').find('input[data-code='+thisValue+']');
                    elem.val('0,00');
                    elem.attr('readonly', 'readonly');
                })
            });
        </script>
    {/literal}
{/if}