{strip}
<table style="width: 100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="width: 5px; height: 5px;"><img src="./look/{$sLook}/gfx/frames/message_tl.gif" width="5" height="5" alt=""></td>
    <td style="height: 5px; background-image: url('./look/{$sLook}/gfx/frames/message_header_bg.gif');"><img src="./look/{$sLook}/gfx/frames/pixel.gif" width="1" height="1" alt=""></td>
    <td style="width: 5px; height: 5px;"><img src="./look/{$sLook}/gfx/frames/message_tr.gif" width="5" height="5" alt=""></td>
  </tr>
  <tr>
    <td style="width: 5px;" class="tableRow2"><img src="./look/{$sLook}/gfx/frames/pixel.gif" width="5" height="5" alt=""></td>
    <td class="tableRow2"><br>
      <table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td style="width: 50px; text-align: center; vertical-align: top;"><img src="./look/{$sLook}/gfx/frames/message_{if $bIsError}ERR{else}OK{/if}.gif" alt=""></td>
          <td style="vertical-align: top;" class="{if $bIsError}error{else}message{/if}">{$sMsg}</td>
        </tr>
      </table><br>
    </td>
    <td style="width: 5px;" class="tableRow2"><img src="./look/{$sLook}/gfx/frames/pixel.gif" width="5" height="5" alt=""></td>
  </tr>
  <tr>
    <td style="width: 5px; height: 5px;"><img src="./look/{$sLook}/gfx/frames/message_bl.gif" width="5" height="5" alt=""></td>
    <td style="height: 5px;" class="tableRow2"><img src="./look/{$sLook}/gfx/frames/pixel.gif" width="1" height="1" alt=""></td>
    <td style="width: 5px; height: 5px;"><img src="./look/{$sLook}/gfx/frames/message_br.gif" width="5" height="5" alt=""></td>
  </tr>
</table>
{/strip}