{strip}
<table height="18"  border="0" cellpadding="0" cellspacing="0" align="left">
  <tr>
    <td width="10"><img src="gfx/pixel.gif" width="1" height="1"></td>
    <td width="2"><img src="gfx/body_header_left.gif" width="2" height="18"></td>
    <td class="moduleHeader"><div><span id="moduleContent" class="textRed">{$sHeader}</span></div></td>
    <td width="2"><img src="gfx/body_header_right.gif" width="2" height="18"></td>
  </tr>
</table>
{/strip}