<script type="text/javascript">
    localStorage.setItem("FormLoadCount", 0);
</script>
<table height="100%" width="400" border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td>
			<table width="400" border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td>
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="1" height="1"><img src="gfx/pixel.gif" width="1" height="1" alt=""></td>
					<td height="1" class="brownBg"><img src="gfx/pixel.gif" width="1" height="1" alt=""></td>
					<td width="1" height="1"><img src="gfx/pixel.gif" width="1" height="1" alt=""></td>
				</tr>
				<tr>
					<td width="1" height="18" class="brownBg"><img src="gfx/pixel.gif" width="1" height="1" alt=""></td>
					<td height="18" class="brownBg"><span class="tableHeaderBg">{$sHeader}</span></td>
					<td width="1" height="18" class="brownBg"><img src="gfx/pixel.gif" width="1" height="1" alt=""></td>
				</tr>
				<tr>
					<td width="1" height="1"><img src="gfx/pixel.gif" width="1" height="1" alt=""></td>
					<td height="1" class="brownBg"><img src="gfx/pixel.gif" width="1" height="1" alt=""></td>
					<td width="1" height="1"><img src="gfx/pixel.gif" width="1" height="1" alt=""></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="1"><img src="gfx/pixel.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td>
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="1" height="1"><img src="gfx/pixel.gif" width="1" height="1" alt=""></td>
					<td height="1" class="yellowBg"><img src="gfx/pixel.gif" width="1" height="1" alt=""></td>
					<td width="1" height="1"><img src="gfx/pixel.gif" width="1" height="1" alt=""></td>
				</tr>
				<tr>
					<td width="1" class="yellowBg"><img src="gfx/pixel.gif" width="1" height="1" alt=""></td>
					<td class="yellowBg">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td height="50" colspan="4">
									<div class="errMsg">{$sMsg}</div>
								</td>
							</tr>
							<tr>
								<td width="10">&nbsp;</td>
								<td width="100" align="left" valign="bottom"><img src="gfx/padlock.gif" width="66" height="126" alt=""></td>
								<td>
									{$sForm}
								</td>
								<td width="10">&nbsp;</td>
							</tr>
						</table>
					</td>
					<td width="1" class="yellowBg"><img src="gfx/pixel.gif" width="1" height="1" alt=""></td>
				</tr>
				<tr>
					<td width="1" height="1"><img src="gfx/pixel.gif" width="1" height="1" alt=""></td>
					<td height="1" class="yellowBg"><img src="gfx/pixel.gif" width="1" height="1" alt=""></td>
					<td width="1" height="1"><img src="gfx/pixel.gif" width="1" height="1" alt=""></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
		</td>
	</tr>
</table>
