<ul id="tail-menu">
     <li style="color:blue" onclick="window.top.frames.content.window.location.href = 'admin.php?frame=main'"><a style="display:block">Strona glowna</a></li>
    {foreach from = $menu item = menuItem}
      {*<li onclick="window.top.frames.content.window.location.href = '{$menuItem.url}'"><div style="width:100%; text-align: center">{$menuItem.name}</div></li>*}
      <li onclick="window.top.frames.content.window.location.href = '{$menuItem.url}'"><a style="display:block">{$menuItem.name}</a></li>
    {/foreach}
</ul>
