<ul>
{foreach from=$aFiles item=im key=i}
	<li class="{$im.ext}"><a href="{$im.src}" target="_blank">{if !empty($im.description)}<strong>{$im.description}</strong> ({$im.name} - {$im.size}){else}<strong>{$im.name}</strong> ({$im.size}){/if}</a></li>
{/foreach}
</ul>