.clsDataArea{
	background: #ffffff;
}
.clsOuterFrame {
	background-color: #d9d5b9;
}
.clsOuterFrame th, .clsOuterFrame td {
	padding: 0px;
	border: none;
	text-align: center;
}

.clsInnerFrame {
	background-color : #ffffff;
}
.clsInnerFrame th, .clsInnerFrame td {
	padding: 0px;
	border: none;
	text-align: center;
}

.clsTopPartNavpanel {
	background-color : #ffffff;
	height: 3px;
}

.clsBottomPartNavpanel{
	background-color : #ffffff;
	height: 3px;
}

.clsNavpanel {
	background-color : #ffffff;
	
}
.clsDateGrid{
	background-color : #d9d5b9;
	margin: 5px 0px 5px 0px;
}

.clsWeekDay{
	background-color: #ffffff;
	font: bold 10px Verdana, Arrial Narrow, sans-serif;
	color: #736f54;
	width: 20px;
}


.clsSelectedDayCell{
	background-color: #736f54;
}
.clsWorkDayCell{
	background-color: #FFFFFF;
	width: 20px;
}
.clsHoliDayCell{
	background-color: #efede2;
	width: 20px;
}
.clsOtherMonthDayCell{
	background-color: #FFFFFF;
	width: 20px;
}


.clsOtherMonthDay{
	font: 10px Verdana, Arrial Narrow, sans-serif;
	color: #d9d5b9;
	text-decoration: none;
}
.clsCurrentMonthDay{
	font: 10px Verdana, Arrial Narrow, sans-serif; 
	color: #3d3b2d;
	text-decoration : none;
}
.clsSelectedDay{
	font: 10px Verdana, Arrial Narrow, sans-serif;
	color: #ffffff;
	text-decoration: none;
}
.clsInfoTitle{
	font: 10px Verdana, Arrial Narrow, sans-serif; 
	color: #000000;
	font-weight: bold;
}