#dialogCover {
	position: absolute;
	display: none;
	left: 0px;
	top: 0px;
	background-color: #000000;
	filter: alpha(opacity=25);
	opacity: 0.25;
	-moz-opacity:0.25;
	z-index: 999;
}
#dialogMessage {
	position: absolute;
	display: none;
	background-color: #D4D0C8;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #404040;
	border-right: 1px solid #404040;
	text-align: center;
	vertical-align: middle;
	z-index: 1000;
}
#dialogMessage p {
	font-size: 11px;
	text-align: left;
	color: #000000;
	margin: 5px;
}
body {
	font-family: Verdana;
	font-size: 10px;
	background-color: #d9d5b9;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
}
.dialogSectionHeader {
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}
label {
	font-size: 11px;
	color: #000000;
}
.formInput {
	font-size: 10px;
	color: #000000;
	background-color: #ffffff;
}
.formExplorer {
  font-size: 11px;
  color: #000000;
  background-color: #ffffff;
}
.formButton {
	font-size: 11px;
	color: #000000;
  height: 20px;
}
.topBorder {
	border-top: 1px solid #f9f7f1;
}
.bottomBorder {
	border-bottom: 1px solid #aaa68d;
}
.horizontalSpacer {
  border-top: 1px solid #f9f7f1;
  border-bottom: 1px solid #aaa68d;
}
.topLine {
	background-color: #aaa68d;
}
.bottomLine {
	background-color: #f9f7f1;
}
.specialCharsCell {
	font-size: 10px;
	color: #000000;
	background-color: #ffffff;
}
.specialCharsPreview {
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	background-color: #ffffff;
}
hr {
  border : 1px inset #f9f7f1;
}
.disabledOption {
  color: #999999;
  background-color: #f8fcfc;
}

ul {
	padding: 0px;
	margin: 0px;
}
li {
	list-style-type: none;
	display: block;
}