body {
	font-family: Verdana;
	font-size: 10px;
	background-color: #ffffff;
	margin: 5px 0px 5px 5px;
}

a.directory {
	padding-left: 18px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-position: 0px 2px;
	text-decoration: none;
	background: #ffffff url('../gfx/icons/explorer/directory.gif') no-repeat;
}

a.directory:hover {
	text-decoration: underline;
}

li.file {
	float: left;
	clear: both;
	margin: 0;
	margin-bottom: 1px;
	padding-right: 2px;
	padding-left: 19px;
	height: 16px;
	cursor: pointer;
}
li.fileSel {
	float: left;
	clear: both;
	margin: 0;
	margin-bottom: 1px;
	padding-right: 2px;
	padding-left: 19px;
	height: 16px;
	cursor: pointer;
	background-color: #D9D5B9;
}
li div {
	margin-top: 2px;
	float: left;
}

a.jpg, a.jpeg {
	padding-left: 18px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-position: 0px 2px;
	text-decoration: none;
	background: #ffffff url('../gfx/icons/explorer/jpg.gif') no-repeat;
}

a.jpg:hover, a.jpeg:hover {
	text-decoration: underline;
}

a.gif {
	padding-left: 18px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-position: 0px 2px;
	text-decoration: none;
	background: #ffffff url('../gfx/icons/explorer/gif.gif') no-repeat;
}

a.gif:hover {
	text-decoration: underline;
}

a.png {
	padding-left: 18px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-position: 0px 2px;
	text-decoration: none;
	background: #ffffff url('../gfx/icons/explorer/png.gif') no-repeat;
}

a.png:hover {
	text-decoration: underline;
}

a.zip {
	padding-left: 18px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-position: 0px 2px;
	text-decoration: none;
	background: #ffffff url('../gfx/icons/explorer/zip.gif') no-repeat;
}

a.zip:hover {
	text-decoration: underline;
}

a.pdf {
	padding-left: 18px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-position: 0px 2px;
	text-decoration: none;
	background: #ffffff url('../gfx/icons/explorer/pdf.gif') no-repeat;
}

a.pdf:hover {
	text-decoration: underline;
}

a.odt {
	padding-left: 18px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-position: 0px 2px;
	text-decoration: none;
	background: #ffffff url('../gfx/icons/explorer/odt.gif') no-repeat;
}

a.odt:hover {
	text-decoration: underline;
}

a.rar {
	padding-left: 18px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-position: 0px 2px;
	text-decoration: none;
	background: #ffffff url('../gfx/icons/explorer/rar.gif') no-repeat;
}

a.rar:hover {
	text-decoration: underline;
}

a.doc {
	padding-left: 18px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-position: 0px 2px;
	text-decoration: none;
	background: #ffffff url('../gfx/icons/explorer/doc.gif') no-repeat;
}

a.doc:hover {
	text-decoration: underline;
}

a.xls {
	padding-left: 18px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-position: 0px 2px;
	text-decoration: none;
	background: #ffffff url('../gfx/icons/explorer/xls.gif') no-repeat;
}

a.xls:hover {
	text-decoration: underline;
}

a.ppt {
	padding-left: 18px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-position: 0px 2px;
	text-decoration: none;
	background: #ffffff url('../gfx/icons/explorer/ppt.gif') no-repeat;
}

a.ppt:hover {
	text-decoration: underline;
}

a.pps {
	padding-left: 18px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-position: 0px 2px;
	text-decoration: none;
	background: #ffffff url('../gfx/icons/explorer/pps.gif') no-repeat;
}

a.pps:hover {
	text-decoration: underline;
}

a.rtf {
	padding-left: 18px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-position: 0px 2px;
	text-decoration: none;
	background: #ffffff url('../gfx/icons/explorer/rtf.gif') no-repeat;
}

a.rtf:hover {
	text-decoration: underline;
}

ul {
	padding: 0px;
	margin: 0px;
}

li {
	list-style-type: none;
	margin-bottom: 1px;
	margin-top: 5px;
}
