body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #F1F8F8;
}
#menuContainer {
  width: 185px;
  float: left;
}
.menuHeader {
  position: relative;
  left: 10px;
  height: 20px;
  width: 175px;
}
.menuHeaderLeft {
  width: 2px;
  height: 20px;
  background: url('../gfx/frames/menu_header_left.gif');
  float: left;
}
.menuHeaderLabel {
  width: 156px;
  height: 20px;
  text-align: left;
  background: url('../gfx/frames/menu_header_bg.gif');
  float: left;
}
.menuHeaderText {
  position: relative;
  top: 3px;
  width: 151px;
  height: 17px;
  margin: 0px;
  padding: 0px;
  color: #F1F8F8;
  font-size: 10px;
  float: right;
}
.menuHeaderButton {
  width: 15px;
  height: 20px;
  text-align: center;
  background: url('../gfx/frames/menu_header_bg.gif');
  float: left;
}
.menuHeaderRight {
  width: 2px;
  height: 20px;
  background: url('../gfx/frames/menu_header_right.gif');
  float: left;
}
.menuContent {
  position: relative;
  display: inline;
  left: 10px;
  width: 175px;
  background-color: #C4DBDB;
}
.menuContentList {
  width: 175;
  background-color: #C4DBDB;
}
.menuSpacer {
  width: 175px;
  height: 15px;
  background-color: #F1F8F8;
}
ul {
  padding: 2px 0px 5px 0px;
  margin: 2px 0px 5px 0px;
  list-style-image: url('../gfx/frames/menu_arrow.gif');
  list-style-position: inside;
}
li {
  padding-left: 0px;
  margin-left: 0px;
  line-height: 16px;
}
a:link, a:active, a:visited {
	font-size: 10px;
	color: #000000;
  text-decoration: none;
}
a:hover {
  font-size: 10px;
  color: #000000;
  text-decoration: underline;
}