/* LayoutMenu Style Sheet */

.LayoutMenu,.LayoutSubMenuTable {
	cursor:	pointer;
	font-family:	verdana, arial, sans-serif;
	font-size:	11px;
	
	padding:	0;
	border:		0;
	white-space:	nowrap;
}

.LayoutMenu {
	height: 25px;
	font-weight: bold;
}

.LayoutSubMenu {
	position:	absolute;
	visibility:	hidden;

	/*
	   Netscape/Mozilla renders borders by increasing
	   their z-index.  The following line is necessary
	   to cover any borders underneath
	*/
	z-index:	100;
	border:		0;
	padding:	0;
}

.LayoutSubMenuTable {
	border:		1px solid #d5d0b0;
	background-color:	white;
	width: 145px;
}

.LayoutSubMenuTable td {
	white-space:	nowrap;
}

.LayoutMainItem,.LayoutMainItemHover,.LayoutMainItemActive {
	color: #3c3714;
	padding-top: 5px;
	padding-left:	5px;
	padding-right:	5px;
	white-space:	nowrap;
}

.LayoutMainItemHover,.LayoutMainItemActive {
	color: #d9d5b9;
	background-image: url('../gfx/menu_hov_bg.gif');
	background-repeat: repeat-x;
}

.LayoutMenuItemText, .LayoutMenuFolderText {
	padding: 3px 5px 3px 0px;
}

.LayoutMenuItem,.LayoutMenuItemHover,.LayoutMenuItemActive {
	color: #3c3714;
	padding-top: 5px;
	padding-left:	5px;
	padding-right:	5px;
	background-color: #b4af94;
	white-space:	nowrap;
}

.LayoutMenuItemHover,.LayoutMenuItemActive {
	color: #d9d5b9;
	background-color: #908d77;
}

.LayoutMenuSplit {
	height:		1px;
	margin-top:	0px;
	margin-bottom:	0px;
	overflow:	hidden;
	background-color:	inherit;
	border-top:	1px solid #d5d0b0;
}

.LayoutMenuVSplit {
	width:		1px;
	margin:		0px;
	overflow:	hidden;
	background-color:	inherit;
	border-right:	1px solid #d5d0b0;
}

/* image shadow animation */

/*
	seq1:	image for normal
	seq2:	image for hover and active

	To use, in the icon field, input the following:
	<img class="seq1" src="normal.gif" /><img class="seq2" src="hover.gif" />
*/

.LayoutMenuItem img.seq1 {
	display:	inline;
}

.LayoutMenuItemHover seq2,
.LayoutMenuItemActive seq2 {
	display:	inline;
}

.LayoutMenuItem .seq2,
.LayoutMenuItemHover .seq1,
.LayoutMenuItemActive .seq1 {
	display:	none;
}