body {
	font-family: Verdana;
	font-size: 10px;
}
.toolbarTable {
	border-top: 1px solid #aaa68d;
}
.imageOver {
	background-color: #b6bdd2;
	border: 1px solid #0a246a;
}
.imageOut {
	background-color: #d9d5b9;
	border: 1px solid #d9d5b9;
}
.imageDown {
	background-color: #8592B5;
	border: 1px solid #0a246a;
}
.editorBox {
	border: 1px solid #aaa68d;
	font-family: Courier;
	font-size: 10px;
}
.formInput {
  font-size: 10px;
  color: #000000;
  background-color: #ffffff;
}
.dropDownListBg {
  font-family: Verdana;
  font-size: 10px;
  color: #000000;
}
.toolbarTable td {
	margin: 0px;
	padding: 0px;
	border: none;
}
.toolbarBG {
	background-color: #d9d5b9;
	border-right: 1px solid #aaa68d;
	border-left: 1px solid #aaa68d;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #aaa68d;
}