body{
margin:0px;
background-color: #f2f2f3;
background: url('images/minisite_odbieranie_01.jpg') center no-repeat #f4f4f4;
font-family:Tahoma, sans-serif;
color:#737373;
font-size:11px;
background-position:50% 0px;
}
.content{
	line-height:20px;
	height:1000px;
left:50%;
margin-left:-550px;
position:relative;
width:1100px;
}
.logo{
	position:absolute;
	left:600px;
	top:20px;
}
.logo2 {
    left: 731px;
    position: absolute;
    top: 33px;
}
.paczkomat{
	position:absolute;
	top:325px;
	left:160px;
}
.punkty{
	position:absolute;
	top:220px;
	left:650px;
}
.punkty div{
	height:25px;	
}
img{
	border 0px solid white;
}
.wiecej{
	position:absolute;
	top:460px;
	left:830px;
}
.teksty{
	position:absolute;
	top:470px;
	left:110px;
}
.etapy{
	position:absolute;
	top:610px;
	left:110px;
}
table{
	font-family:Tahoma, sans-serif;
	color:#737373;
	font-size:11px;	
	text-align:center;
	margin-left:15px;
	line-height:20px;
}
.stopka{
	position:absolute;
	top:860px;
	left:80px;
}