<div class="fTextRow" style="padding: 15px 0 0 0;">
  <div class="koszykPodtytulNewsletter">
    Połącz konta:
  </div>
  <div class="clear" style="padding: 15px 0 0 0;"></div>
  {if !empty($aModule.connect.links.fb_login)}
    <a href="{$aModule.connect.links.fb_login}"><img style="border:0;" src="/images/gfx/polacz-z-facebook.png" alt="Połącz konta" title="Połącz konta" /></a>
  {/if}
</div>