<div class="fTextRow" style="padding: 15px 0 0 0;">
  <div class="koszykPodtytulNewsletter">
    Rozłącz konta:
  </div>
  <div class="clear" style="padding: 15px 0 0 0;"></div>
  {if !empty($aModule.disconnect.links.fb_login)}
    <a href="{$aModule.disconnect.links.fb_login}"><img style="border:0;" src="/images/gfx/fb-rozlacz.png" alt="Rozłącz konta" title="Rozłącz konta" /></a>
  {/if}
</div>