<div id="wyszukiwarkaFormularz" style="margin: 0; padding: 0;">
   	{if !empty($aModule.item_info.description)}
		<p>{$aModule.item_info.description}</p>
		{if !empty($aModule.item_info.remarks)}
			<p>{$aModule.item_info.remarks}</p>
		{/if}
	{/if}
	{*{if $aModule.results_no gt 0}
    	<div id="szukanaFraza">{$aModule.item}&nbsp;&nbsp;|&nbsp;&nbsp;{$aModule.message}</div>
		
	{else}
		<div style="margin: 5px 0 0 12px;">{$aModule.lang.no_results}</div>
	{/if}*}
	{include file=$aModule.results_template}
</div>
