
<div style="background-image: url('/images/gfx/newsletter_Profit-1.png'); background-position: center;  background-repeat: no-repeat; background-size: contain; object-fit: contain; width: 95vw; height: 36vh"/>
</div>
{*<div style="background-image: url('/images/gfx/mailing_Profit.png'); background-repeat: no-repeat; background-size: contain;  width: 100%; height: 600px; object-fit:  scale-down;"> *}{* width:100vw; height: 100vh; *}

{$aModule.form.header}
{$aModule.form.err_prefix}
{$aModule.form.err_postfix}
{$aModule.form.validator}

    <div style="margin-left: 5vw; padding-top: 2vh; width: 80vw;">
        {*{$aModule.form.email.label}*}
        {$aModule.form.email.field}
    </div>

    <div style="margin-left:  5vw; margin-top: 2vh; width: 80vw; height: 10vh; background-color: #EFEFEF; font-size: 1.2em;">
        {$aModule.form.promotions_agreement.field}
        {$aModule.form.promotions_agreement.label}
    </div>

    <div style="text-align: center;margin-top: 24vh; ">
        <input type="submit" value="Potwierdź"
               style="cursor: pointer; background-color: #C11826; border: none; color: #fff; padding: 15px 65px; font-size: 23px; border-radius: 6px; font-weight: bold;" />
    </div>


{$aModule.form.footer}


{*</div>*}
<div style="margin-top: 5vh; background-image: url('/images/gfx/newsletter_Profit-2.png'); background-position: center; background-repeat: no-repeat;  background-size: contain; object-fit: contain; width: 100vw; height: 20vh" />
</div>