<ul>
	{foreach from=$aMenu item=li key=ii name=left_menu}
		{if $ii==4 or $ii==12}
</ul>
<ul>
		{/if}
		<li><a href="{$li.link}"{if $li.name|count_characters>30} onmouseover="showHintBox(this, '{$li.name}');"{/if}>{$li.name|truncate:32:"...":true}</a></li>
	{/foreach}
</ul>