<div {if $aModule.dotpay_status_code == 'OK'} class="message"{else} class="error"{/if}>
	{$aModule.dotpay_status}
</div>
<div class="clear" style="height: 20px;"></div>
<a href="/" class="sendMax" style="float: left;">{$aLang.common.go_home}</a>