<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://w3.org/TR/html4/transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body style="font-family: Tahoma, Arial, Verdana, Helvetica; padding: 0; margin: 0; font-size: 11px; background: url({$aModule.order.path}/images/gfx/mail_top_tlo.gif) repeat-x;">
	<div style="width: 100%">
		<div style="margin: 0 auto; width: 650px;">	
			<div style="height: 76px; ">
				<img src="logo_mail.png" width="200" height="76" />
			</div>
			<div style="height: 23px; text-align: right; flaot: right; color: #000; padding: 15px 0 0 0; font-weight: bold; font-size: 14px;">{$aModule.lang.order_number} {$aModule.order.order_number}</div>
			<div style="width: 650px;">
				<div style="margin: 20px 0;">{$aModule.order.change_status_date}</div>
			</div>
		</div>
	</div>	
</body>
</html>
