<ul>
{foreach from=$aBox.menu key=k item=li name=menu_gorne}
	<li>
		<a href="{$li.link}"{if $li.new_window eq '1'} target="_blank"{/if}{if $smarty.foreach.menu_gorne.last} style="border: 0;"{/if}>{$li.name}</a>
	</li>
{/foreach}
</ul>